@model IEnumerable<Test02.Models.BienBangKiemKe>
@{
    ViewBag.Title = "BaoCao";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.bc = "active";
    ViewBag.Name = "Báo cáo kho hàng";
}

<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="widget-small info coloured-icon">
            <i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
            <div class="info">
                <h4>Tổng sản phẩm</h4>
                <p><b>8580 sản phẩm</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small warning coloured-icon">
            <i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
            <div class="info">
                <h4>Tổng đơn hàng</h4>
                <p><b>457 đơn hàng</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small danger coloured-icon">
            <i class='icon fa-3x bx bxs-info-circle'></i>
            <div class="info">
                <h4>Tổng phiếu xuất hàng</h4>
                <p><b>534 phiếu</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="widget-small info coloured-icon">
            <i class='icon fa-3x bx bxs-user-badge'></i>
            <div class="info">
                <h4>Sản phẩm mới</h4>
                <p><b>5 sản phẩm</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small warning coloured-icon">
            <i class='icon fa-3x bx bxs-tag-x'></i>
            <div class="info">
                <h4>Hết hàng</h4>
                <p><b>1 sản phẩm</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small danger coloured-icon">
            <i class='icon fa-3x bx bxs-receipt'></i>
            <div class="info">
                <h4>Tổng phiếu nhập hàng</h4>
                <p><b>233 phiếu</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm nhap-tu-file" href="~/PhongKho/CreateBBKK">
                            <i class="fas fa-file-upload"></i> Tạo biên bản kiểm kê
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                            <i class="fas fa-print"></i> In dữ liệu
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="~/KinhDoanh/QuanLySP"><i class="fas fa-copy"></i> Làm mới danh sách</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div>
                <h3 class="tile-title">DANH SÁCH BIÊN BẢNG KIỂM KÊ</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaKK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenNV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenBienBang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NgayLap)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NhanVien.MaChucVu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SanPham.TenSP)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaKK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenBienBang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayLap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NhanVien.MaChucVu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "DetailsBB", new { id = item.MaKK }) |
                                @Html.ActionLink("Delete", "DeleteBBKK", new { id = item.MaKK })
                            </td>
                        </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div>
                <h3 class="tile-title                                                                                                                                                                                                               "> SẢN PHẨM MỚI</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sản phẩm</th>
                            <th width="20">Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn vị</th>
                            <th>Số lượng</th>
                            <th>Ngày sản xuất</th>
                            <th>Hạn sử dụng</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>#CD12837</td>
                            <td><img class="img-card-person" src="/img-anhthe/1.jpg" alt=""></td>
                            <td>Coca Cola</td>
                            <td>Lon</td>
                            <td>3249</td>
                            <td>22/10/2021</td>
                            <td>22/10/2025</td>
                            <td>Còn hàng</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">DỮ LIỆU HÀNG THÁNG</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tile">
            <h3 class="tile-title">THỐNG KÊ DOANH SỐ</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- The javascript plugin to display page loading on top-->
<script src="~/Scripts/pace.min.js"></script>
<!-- Page specific javascripts-->
<script type="text/javascript" src="~/Scripts/chart.js"></script>

<!-- Google analytics script-->
<script type="text/javascript">
    if (document.location.hostname == 'pratikborsadiya.in') {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>
