@model Test02.Models.PhieuNhapXuat
@using Test02.Models;
@{
    ViewBag.Title = "Tạo phiếu xuất kho";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.dhxdd = "active";
    ViewBag.Name = "Tạo phiếu xuất kho";
    ViewBag.hieuung4 = "bx-tada";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    var kho = db.Khoes.ToList();
    var ctdonhang = db.ChiTietDonHangs.ToList();

}

@{
    var checkMessage = TempData["AlertMessage"];

    if (checkMessage == "khonull")
    {
        <script>
            swal({
                title: "Bạn chưa chọn kho",
                text: "Thông tin kho còn để trống!",
                icon: "warning",
                button: "Trở lại",
            });
        </script>
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <p>Tên đơn vị: Công ty TNHH nước giải khát NQK</p>
            <p>Theo mã đơn hàng số: @Session["madhxk"]</p>
            <h2 style="text-align:center" id="sample1">PHIẾU XUẤT KHO THEO ĐƠN HÀNG</h2>
            <form style="text-align:center">
                <label for="date">Ngày:</label>
                @TempData["ngaylap"]<br>
                <label for="date">Người làm phiếu: </label>
                @{
                    var user = (Test02.Models.NhanVien)HttpContext.Current.Session["user"];
                    @user.TenNV}
            </form>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="tile-body">
                    <form class="row">
                        <div class="form-group col-md-12" id="sample5">
                            <label class="control-label" id="ThongTinKho1">Kho xuất hàng:</label>
                            @*@Html.DropDownList("ThongTinKho1", (IEnumerable<SelectListItem>)ViewBag.MaKho, null, new { @class = "form-control" })*@
                            <select class="form-control" name="ThongTinKho1" required>
                                @{ foreach (var item01 in (IEnumerable<SelectListItem>)ViewBag.MaKho)
                                    {
                                        var text = "";
                                         foreach (var itemkkho in kho)
                                        {
                                            if( itemkkho.MaKho == item01.Value){
                                                text = itemkkho.MaKho + " - " + itemkkho.DiaChi;
                                                break;
                                            }
                                        }
                                        <option value="@item01.Value">@text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-12" id="sample4">
                            <label class="control-label">Đại lý nhận hàng: </label>
                            @TempData["maDL"] - @TempData["tenDL"]
                        </div>
                        <div class="form-group col-md-12" id="sample4">
                            <label class="control-label">Địa chỉ nhận hàng: </label>
                            @TempData["diemgiao"]
                        </div>
                        <div class="form-group col-md-12 table-responsive" id="sample6">

                            <label class="control-label">Danh sách sản phẩm: </label> <br />
                            <table class="table table-hover table-striped table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Đơn vị tính</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var total = 0;}
                                    @{ var madhX = Session["madhxk"];}
                                    @foreach (var item in ctdonhang)
                                    {
                                        if (item.MaDH == (string)madhX)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaSP)
                                                </td>
                                                <td>
                                                    @{ var tensp = db.SanPhams.Where(s => s.MaSP == item.MaSP).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => tensp.TenSP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SoLuong)
                                                </td>
                                                <td>
                                                    @{ var dongia = db.SanPhams.Where(s => s.MaSP == item.MaSP).FirstOrDefault();}
                                                    @{ var chuyendoi = string.Format("{0:0,0 vnđ}", dongia.Gia);}
                                                    @Html.DisplayFor(modelItem => chuyendoi)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => dongia.DonViTinh)
                                                </td>
                                                <td>
                                                    @{ total += Convert.ToInt32(item.ThanhTien);}
                                                    @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.ThanhTien);}
                                                    @Html.DisplayFor(modelItem => ThanhTien)
                                                </td>
                                            </tr>
                                        }

                                    }
                                    <tr>
                                        <th colspan="5">
                                            <p class="pull-right">Tổng cộng đơn hàng:</p>
                                        </th>
                                        @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                        <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                    </tr>
                            </table>

                        </div>
                        <h5 style="margin-left:82%;" id="sample1">Thủ kho</h5>
                        <h6 style="margin-left:80%; font-style:italic;" id="sample1">(ký và ghi rõ họ tên)</h6>
                        <br />
                        <br />
                        <br />
                        <h6 style="margin-left:80%;" id="sample1">Nguyễn Thị Diễm Khang</h6>
                    </form>
                    <div>
                        <input type="submit" value="Lưu phiếu" class="btn btn-save" />
                        <a class="btn btn-cancel" href="~/PhongKho/ChiTietDonHang/@TempData["mahdx"]">Hủy bỏ</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
