@using Test02.Models
@{
    ViewBag.Title = "DSDonHang";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.dhxdd = "active";
    ViewBag.Name = "Đơn hàng đã xét duyệt";
    ViewBag.hieuung4 = "bx-tada";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    var listDH = db.DonHangs.ToList();
}

@* <Danh sách đơn hàng đã xét duyệt *@
<div class="row">
    <div class="col-lg-12">
        <div class="tile">
            <h3 class="tile-title" style="text-align:center;"><b>DANH SÁCH ĐƠN HÀNG ĐÃ XÉT DUYỆT</b></h3>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="~/PhongKho/DSDonHang"><i class="fas fa-copy"></i> Làm mới danh sách</a>
            </div>
            <div class="col-md-12 table-responsive">
                <table class="table table-hover table-striped table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                       id="sampleTable">
                    <thead>
                        <tr>
                            <th>
                                Mã đơn hàng
                            </th>
                            <th>
                                Mã đại lý
                            </th>
                            <th>
                                Nhân viên xét duyệt
                            </th>
                            <th>
                                Ngày lập
                            </th>
                            <th>
                                Hóa đơn
                            </th>
                            <th>
                                Phiếu xuất kho
                            </th>
                            <th>
                                Điểm giao
                            </th>
                            <th>
                                Tổng tiền
                            </th>
                            <th>
                                Chi tiết
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in listDH)
                        {
                            if (item.TrangThai == "Đã xét duyệt")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaDH)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaDL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayLap)
                                    </td>
                                    <td>
                                        @{
                                            if (item.XuatHoaDon == true)
                                            {


                                                <span class="badge bg-success">Đã có hóa đơn</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-warning">Chưa có hóa đơn</span>

                                            }
                                        }

                                    </td>
                                    <td>
                                        @{
                                            if (item.PhieuXuatKho == true)
                                            {


                                                <span class="badge bg-success">Đã tạo phiếu</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Chưa tạo phiếu</span>

                                            }
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiemGiao)
                                    </td>
                                    <td>
                                        @{
                                            var chuyendoi = string.Format("{0:0,0 VNĐ}", item.TongTien);
                                        }
                                        @Html.DisplayFor(modelItem => chuyendoi)
                                    </td>
                                    <td>
                                        <a href="~/PhongKho/ChiTietDonHang/@item.MaDH" class="btn btn-outline-info btn-md" title="Chi tiết"> <i class="fa fa-info"></i> </a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


