@model Test02.Models.ChiTietKho
    @using Test02.Models
@{
    ViewBag.Title = "EditCTKho";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.Name = "Chỉnh sửa chi tiết kho";
    ViewBag.qlk = "active";
    ViewBag.hieuung2 = "bx-tada";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
}
@{
    var checkMessage = TempData["AlertMessage"];
    if (checkMessage == "check null")
    {
        <script>
            swal({
                title: "Lỗi số lượng",
                text: "Số lượng không được để trống hoặc nhỏ hơn 0!",
                icon: "warning",
                button: "Nhập lại",
            });
        </script>
    }
}
<h2>Chỉnh sửa chi tiết kho số @Model.STT của kho @Model.MaKho</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.STT)
        @Html.HiddenFor(model => model.NgayNhap)

        <div class="form-group">
            @Html.LabelFor(model => model.MaSP, "Tên sản phẩm:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @*@Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control", @value = Model.MaSP })*@
                <select class="form-control col-md-12" name="MaSP" required>
                    <option selected value="@Model.MaSP">@Model.MaSP - @Model.SanPham.TenSP</option>
                    @{
                        var sp = db.SanPhams.ToList();
                        foreach (var item in sp)
                        {
                            <option value="@item.MaSP">@item.MaSP - @item.TenSP</option>
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.MaKho, "MaKho", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaKho", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaKho, "", new { @class = "text-danger" })
                </div>
            </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.NgayNhap, "Ngày nhập:", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.NgayNhap, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control col-md-12", type = "datetime-local", @readonly = "readonly"})

            @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayXuat, "Ngày xuất:", htmlAttributes: new { @class = "control-label col-md-12" }) 
            <p class="col-md-12"><span> *Ngày xuất gần nhất: </span>@Html.DisplayFor(model => model.NgayXuat)</p>
            
            <div class="col-md-12">
                @*<input class="form-control text-box single-line" data-val="true" value="@Model.NgayXuat" id="NgayXuat" name="NgayXuat" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>*@
                @Html.TextBoxFor(model => model.NgayXuat, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control col-md-12", type = "datetime-local", min = DateTime.Now.ToString("yyyy-MM-ddTHH:mm:00") })
                @Html.ValidationMessageFor(model => model.NgayXuat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, "Số lượng trong kho:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Lưu chi tiết kho @Model.STT" class="btn btn-outline-success" />
                <a class="btn btn-outline-dark btn-sm" href="~/PhongKho/ChiTietKho/@Model.MaKho">
                    <i class="fas fa-retweet"></i>
                    Trở lại
                </a>
            </div>
        </div>
    </div>
}
