
@using Test02.Models;
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.hh = "active";
    ViewBag.Name = "Quản lý hàng hóa";
    ViewBag.hieuung3 = "bx-tada";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    List<string> listSHH = new List<string>();
    List<string> listHH = new List<string>();
    int soluong = 0;
    var chiTietKhos = db.ChiTietKhoes.ToList();
    var sanPhams = db.SanPhams.ToList();

}


<link href="~/Content/toastNoti.css" rel="stylesheet" />
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home"><h4 class="btn btn-outline-info">Danh sách</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1"><h5 class="btn btn-outline-success">Sắp hết hàng</h5></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2"><h6 class="btn btn-outline-warning">Tồn kho</h6></a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tile">
                        <div class="tile-body">
                            <div class="row element-button">
                                <div class="col-sm-2">
                                    <a class="btn btn-info" type="button" title="In" onclick="printDiv('printMe')">
                                        <i class="fas fa-print"></i> In dữ liệu
                                    </a>
                                </div>
                            </div>
                            <div id="printMe" class="table-responsive">
                                <h3 class="tile-title" id="sample1" style="text-align:center">DANH SÁCH SẢN PHẨM</h3>
                                <table class="table table-hover table-striped table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                                       id="sampleTable">
                                    <thead>
                                        <tr class="table-warning">
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Hình minh họa</th>
                                            <th>Giá</th>
                                            <th>Đơn vị tính</th>
                                            <th>Ngày sản xuất</th>
                                            <th>Hạn sử dụng</th>
                                            <th>Tổng tồn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in sanPhams)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaSP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TenSP)
                                                </td>
                                                <td>
                                                    <img src="@item.HinhAnh" style="width:80px; height:100px;" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Gia)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DonViTinh)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgaySX)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HanSD)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TongTon)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="tile-body">
                            <div class="row element-button">
                                <div class="col-sm-2">
                                    @*var a = TempData["tongSPHH"];
                                        var b = TempData["checkTrungSPHH"];
                                        if ((int)a != 0)
                                        {
                                            if ((bool)b == true)
                                            {
                                                <a class="btn btn-add btn-sm" style="cursor:no-drop" onclick="createToast1('error')" >
                                                    <i class="fas fa-plus"></i>
                                                    Tạo phiếu đề nghị nhập hàng hóa
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-add btn-sm" href="/PhongKho/TaoPhieuNhapKho" title="Thêm">
                                                    <i class="fas fa-plus"></i>
                                                    Tạo phiếu đề nghị nhập hàng hóa
                                                </a>
                                            }
                                        }
                                        else if ((int)a == 0)
                                        {
                                            <a class="btn btn-add btn-sm" style="cursor:no-drop"  onclick="createToast1('warning')">
                                                <i class="fas fa-plus"></i>
                                                Tạo phiếu đề nghị nhập hàng hóa
                                            </a>
                                        }*@
                                    @{
                                        var b = TempData["checkTrungSPHH"];
                                        var a = TempData["tongSPHH"];
                                        if ((int)a == 0)
                                        {
                                            <a class="btn btn-add btn-sm" style="cursor:no-drop">
                                                <i class="fas fa-plus"></i>
                                                Tạo phiếu đề nghị nhập hàng hóa
                                            </a>
                                        }
                                        else
                                        {
                                            if ((bool)b == true)
                                            {
                                                <a class="btn btn-add btn-sm" style="cursor:no-drop">
                                                    <i class="fas fa-plus"></i>
                                                    Tạo phiếu đề nghị nhập hàng hóa
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-add btn-sm" href="/PhongKho/TaoPhieuNhapKho" title="Thêm">
                                                    <i class="fas fa-plus"></i>
                                                    Tạo phiếu đề nghị nhập hàng hóa
                                                </a>
                                            }

                                        }
                                    }
                                </div>
                            </div>
                            <h3 class="tile-title" style="text-align:center">DANH SÁCH SẢN PHẨM SẮP HẾT HÀNG / HẾT HÀNG</h3>
                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover table-striped table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                                       id="sampleTable1">
                                    <thead>
                                        <tr>
                                            <th>Mã Kho</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá tiền</th>
                                            <th>Đơn vị tính</th>
                                            <th>Ngày xuất gần nhất</th>
                                            <th>Số lượng</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in chiTietKhos)
                                        {
                                            if (item.TinhTrang == "Sắp hết hàng" || item.TinhTrang == "Hết hàng")
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MaKho)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MaSP)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SanPham.Gia)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SanPham.DonViTinh)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SanPham.NgaySX)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                                    </td>
                                                    <td>
                                                        @if (item.TinhTrang == "Sắp hết hàng")
                                                        {
                                                            <span class="badge bg-success">@Html.DisplayFor(modelItem => item.TinhTrang)</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.TinhTrang)</span>
                                                        }


                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="row element-button">
                            <div class="col-md-12">
                                @{
                                    var d = TempData["checkTrungSPTK"];
                                    var c = TempData["TongSPTK"];
                                    if ((int)c == 0)
                                    {
                                        <a class="btn btn-warning" style="cursor:no-drop">
                                            <i class="fas fa-retweet"></i> Giải quyết tất cả
                                        </a>
                                    }
                                    else
                                    {
                                        if ((bool)d == true)
                                        {
                                            <a class="btn btn-add btn-sm" style="cursor:no-drop">
                                                <i class="fas fa-retweet"></i>
                                                Giải quyết tất cả
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning" type="button" href="/PhongKho/GiaiQuyetTonKho">
                                                <i class="fas fa-retweet"></i> Giải quyết tất cả
                                            </a>
                                        }

                                    }
                                }
                            </div>
                        </div>
                        <div>
                            <h3 class="tile-title" id="sample1" style="text-align:center">DANH SÁCH HÀNG TỒN KHO</h3>
                        </div>
                        <div class="tile-body table-responsive">
                            <table class="table table-hover table-striped table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                                   id="sampleTable2">
                                <thead>
                                    <tr>
                                        <th>Mã Kho</th>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá tiền</th>
                                        <th>Đơn vị tính</th>
                                        <th>Số lượng</th>
                                        <th>Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in chiTietKhos)
                                    {
                                        if (item.TinhTrang == "Tồn kho")
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaKho)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaSP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SanPham.Gia)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SanPham.DonViTinh)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SoLuong)
                                                </td>
                                                <td>
                                                    <span class="badge bg-info">@Html.DisplayFor(modelItem => item.TinhTrang)</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function createToast1(status, timeout) {
        let temp = `<i class="fas fa-circle-exclamation"></i>
                    <span class="message">This is a Success message!</span>
                    `
        switch (status) {
            case 'success':
                temp = `<i class="fas fa-circle-exclamation"></i>
                        <span class="message">This is a Success message!</span>`
                break;
            case 'warning':
                temp = `<i class="fa fa-exclamation-triangle"></i>
                        <span class="message">Đơn hàng chưa có hóa đơn!</span>`
                break;
            case 'error':
                temp = `<i class="fa fa-exclamation-circle"></i>
                        <span class="message">Đơn hàng đã tạo phiếu!</span>`
                break;
        }

        var toast = document.createElement('div')
        toast.classList.add('toast')
        toast.classList.add(status)
        toast.innerHTML = `${temp}<div class="countdown"></div>`
        var toastList = document.getElementById('toasts')
        toastList.appendChild(toast)
        timeout = timeout || 4000
        setTimeout(function () {
            toast.style.animation = 'slidehide 2s ease forwards'
        }, timeout)
        setTimeout(function () {
            toast.remove()
        }, timeout + 2000)
    }
</script>

@*<script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
        }
        jQuery(function () {
            jQuery(".trash").click(function () {
                swal({
                    title: "Cảnh báo",

                    text: "Bạn có chắc chắn là muốn xóa sản phẩm?",
                    buttons: ["Hủy bỏ", "Đồng ý"],
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Đã xóa thành công.!", {

                            });
                        }
                    });
            });
        });
        //oTable = $('#sampleTable').dataTable();
        //$('#all').click(function (e) {
        //    $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        //    e.stopImmediatePropagation();
        //});

        //EXCEL
        // $(document).ready(function () {
        //   $('#').DataTable({

        //     dom: 'Bfrtip',
        //     "buttons": [
        //       'excel'
        //     ]
        //   });
        // });

        //     //Sao chép dữ liệu
        //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

        // copyTextareaBtn.addEventListener('click', function(event) {
        //   var copyTextarea = document.querySelector('.js-copytextarea');
        //   copyTextarea.focus();
        //   copyTextarea.select();

        //   try {
        //     var successful = document.execCommand('copy');
        //     var msg = successful ? 'successful' : 'unsuccessful';
        //     console.log('Copying text command was ' + msg);
        //   } catch (err) {
        //     console.log('Oops, unable to copy');
        //   }
        // });


        //Modal
        $("#show-emp").on("click", function () {
            $("#ModalUP").modal({ backdrop: false, keyboard: false })
        });
    </script>
    <script>
        //In dữ liệu
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;

        }
    </script>
    @* Bootstrap cho navs *@
@*<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>*@