@model Test02.Models.PhieuNhapXuat
@using Test02.Models
@{
    ViewBag.Title = "TaoPhieuNhapKho";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.hh = "active";
    ViewBag.Name = "Tạo phiếu đề nghị nhập kho";
    ViewBag.hieuung3 = "bx-tada";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    var dsSP = db.SanPhams.ToList();
    var dsCTKho = db.ChiTietKhoes.ToList();
    List<string> distint = new List<string>();
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h2 style="text-align:center" id="sample1">PHIẾU ĐỀ NGHỊ NHẬP KHO</h2>
            @using (Html.BeginForm("TaoPhieuNhapKho", "PhongKho", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group col-md-12" id="sample3">
                        <label class="control-label">- Kính gửi: </label>
                        <input class="form-control" type="text" id="kinhgui" required>

                    </div>
                    <div class="form-group col-md-12" id="sample4">
                        <label class="control-label">- Nhập vào các kho: </label> <br />
                        @for (int i = 0; i < dsCTKho.Count; i++)
                        {
                            if (dsCTKho[i].TinhTrang == "Sắp hết hàng" || dsCTKho[i].TinhTrang == "Hết hàng")
                            {
                                distint.Add(dsCTKho[i].MaKho);
                                distint = distint.Distinct().ToList();
                            }
                        }
                        @for (int i = 0; i < dsCTKho.Count; i++)
                        {
                            for (int j = 0; j >= 0 && j < distint.Count; j++)
                            {
                                if (distint[j].Equals(dsCTKho[i].MaKho))
                                {
                                    <span>@dsCTKho[i].MaKho - @dsCTKho[i].Kho.TenKho (@dsCTKho[i].Kho.DiaChi)</span> <br />
                                    distint.RemoveAt(j);
                                }
                            }
                        }
                    </div>
                    <div class="form-group col-md-12" id="sample5">
                        <label class="control-label">- Họ tên người làm phiếu:</label>
                        <input class="form-control" type="text" id="hoten" required>
                    </div>
                    <div class="form-group col-md-12" id="sample6">
                        <label class="control-label">- Sản phẩm cần nhập kho: </label>
                        <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Mã Kho</th>
                                    <th style="text-align:center;">Mã sản phẩm</th>
                                    <th style="text-align:center;">Tên sản phẩm</th>
                                    <th style="text-align:center;">Giá tiền</th>
                                    <th style="text-align:center;">Số lượng còn lại</th>
                                    <th style="text-align:center;">Đơn vị tính</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in dsCTKho)
                                {
                                    if (item.TinhTrang == "Sắp hết hàng" || item.TinhTrang == "Hết hàng")
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaKho)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SanPham.Gia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SanPham.DonViTinh)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" value="Lưu phiếu" class="btn btn-save" />
                        <a class="btn btn-cancel" href="QuanLyDL">Hủy bỏ</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
