@model Test02.Models.SanPham
@{
    ViewBag.Title = "TaoPhieuNhapKho";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
    ViewBag.nk = "active";
    ViewBag.Name = "Tạo phiếu đề nghị nhập kho";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h2 style="text-align:center">PHIẾU ĐỀ NGHỊ NHẬP KHO</h2>
            <form style="text-align:center">
                <label for="date">Ngày:</label>
                <input type="date" id="clock" class="date" name="ngay"><br>
                <br>
            </form>
            <div class="tile-body">
                <form class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Kính gửi: </label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập vào kho: </label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Họ tên người làm phiếu:</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-12" style="text-align:center;">
                        <label class="control-label">Sản phẩm cần nhập kho: </label>
                        <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Đơn vị tính</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        @Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <select class="form-control" id="DonViTinh" name="DonViTinh">
                                            <option value="Lốc">Lốc </option>
                                            <option value="Thùng">Thùng</option>
                                            <option value="Lon">Lon</option>
                                            <option value="Chai">Chai</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        @Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <select class="form-control" id="DonViTinh" name="DonViTinh">
                                            <option value="Lốc">Lốc </option>
                                            <option value="Thùng">Thùng</option>
                                            <option value="Lon">Lon</option>
                                            <option value="Chai">Chai</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        @Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <select class="form-control" id="DonViTinh" name="DonViTinh">
                                            <option value="Lốc">Lốc </option>
                                            <option value="Thùng">Thùng</option>
                                            <option value="Lon">Lon</option>
                                            <option value="Chai">Chai</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <
                                    <td>4</td>
                                    <td>
                                        @Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <select class="form-control" id="DonViTinh" name="DonViTinh">
                                            <option value="Lốc">Lốc </option>
                                            <option value="Thùng">Thùng</option>
                                            <option value="Lon">Lon</option>
                                            <option value="Chai">Chai</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        @Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <select class="form-control" id="DonViTinh" name="DonViTinh">
                                            <option value="Lốc">Lốc </option>
                                            <option value="Thùng">Thùng</option>
                                            <option value="Lon">Lon</option>
                                            <option value="Chai">Chai</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <button class="btn btn-save" type="button">Lưu và gửi</button>
                <a class="btn btn-cancel" href="QuanLyDL">Hủy bỏ</a>
            </div>
        </div>
    </div>
</div>
