@model Test02.Models.DonHang
@using Test02.Models;
@{
    ViewBag.Title = "CapNhatTrangThaiDonHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_donhangmoi = "active";
    ViewBag.nd = "Xếp đơn";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    List<ChuyenGiao> ct = db.ChuyenGiaos.ToList();
    var ctcg = db.ChuyenGiaos.ToList();

}


<div class="tile">
    <h2 style="text-align:center">XẾP ĐƠN @Model.MaDH</h2>
    <div class="tile-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaDH)
                    @Html.HiddenFor(model => model.MaDL)
                    @Html.HiddenFor(model => model.MaNVLap)
                    @Html.HiddenFor(model => model.NgayLap)
                    @Html.HiddenFor(model => model.TinhTrangThanhToan)
                    @Html.HiddenFor(model => model.TrangThai)
                    @Html.HiddenFor(model => model.TongTien)
                    @Html.HiddenFor(model => model.PhieuXuatKho)
                    @Html.HiddenFor(model => model.XuatHoaDon)
                    @Html.HiddenFor(model => model.DiemGiao)
                    @Html.HiddenFor(model => model.TinhTrangGH)

                    <div class="form-group">
                        <h6>
                            Tên đại lý: 
                            <span class="badge bg-success">
                                @Html.DisplayFor(model => model.DaiLy.TenDL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiemGiao, "", new { @class = "text-danger" })
                            </span>
                        </h6>

                    </div>

                    <div class="form-group">
                        <h6>
                            Địa điểm giao: 
                            <span class="badge bg-success">
                                @Html.DisplayFor(model => model.DiemGiao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DaiLy.TenDL, "", new { @class = "text-danger" })
                            </span>
                        </h6>

                    </div>

                    @*<div class="form-group">
                            <h5>Tình trạng giao hàng:</h5>
                            <div class="col-md-10">
                                <select class="form-control" id="TrangThai" name="TinhTrangGH">
                                    <option selected="@Model.TinhTrangGH">@Model.TinhTrangGH</option>
                                    <option>Chờ giao</option>
                                    <option>Đang giao</option>
                                    <option>Đã giao</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.TinhTrangGH, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <h6>Chuyến giao:</h6>
                        <div class="col-md-10">
                            @Html.DropDownList("MaGH", (IEnumerable<SelectListItem>)ViewBag.ChuyenGiao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaGH, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Xếp đơn hàng @Model.MaDH" class="btn  btn-success" id="btn_submit" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@* -------------HIỂN THỊ DANH SÁCH CÁC CHUYẾN GIAO HÀNG HIỆN CÓ-------- *@
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    @*<a class="btn btn-delete btn-sm nhap-tu-file" href="/GiaoHang/ThemChuyenGiaoHang"><i class="fas fa-file-upload"></i> Thêm chuyến giao hàng</a>*@
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" href="#"><i class="fas fa-refresh"></i> Làm mới danh sách</a>
                    </div>
                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <h2 style="margin-left:27%">DANH SÁCH CÁC CHUYẾN GIAO HÀNG HIỆN CÓ</h2>
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable1" role="grid" aria-describedby="sampleTable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align:center">Mã giao hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 70px; text-align: center ">Tên nhân viên giao</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Mã phương tiện</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Ngày lập</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Trạng thái</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Khu vực giao</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Ngày giao</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ctcg)
                                    {
                                        if (item.TrangThai == "Chờ giao")
                                        {
                                            <p style="text-align:center">
                                                <span>
                                                    @{
                                                        var gh = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();
                                                        var dh = db.DonHangs.Where(s => s.MaGH == gh.MaGH).FirstOrDefault();
                                                    }
                                                </span>
                                            </p>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaGH)
                                                </td>
                                                <td>
                                                    @{var tennvg1 = db.NhanVienGHs.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => tennvg1.TenNV)
                                                </td>
                                                <td>
                                                    @{var pt1 = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => pt1.MaPT)
                                                </td>
                                                <td>
                                                    @{
                                                        var nl1 = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => nl1.NgayLap)
                                                </td>
                                                <td>
                                                    @{
                                                        var tt = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => tt.TrangThai)
                                                </td>
                                                <td>
                                                    @{
                                                        var kvg = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => kvg.KhuVucGiao)
                                                </td>
                                                <td>
                                                    @{
                                                        var ng = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                    @Html.DisplayFor(modelItem => kvg.NgayGiao)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="col-sm-2">
        <a class="btn btn-danger" type="button" title="Quay lại " href="/GiaoHang/ChiTietDonGiaoHang/@TempData["madh01"]"><i class=""></i> Quay lại</a>
    </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
