@model Test02.Models.DonHang
@using Test02.Models;
@{
    ViewBag.Title = "CapNhatTrangThaiDonHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_dongiaohang = "active";
    ViewBag.nd = "Cập nhật trạng thái đơn hàng";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    List<ChuyenGiao> ct = db.ChuyenGiaos.ToList();
    var ctcg = db.ChuyenGiaos.ToList();

}


<div class="tile">
    <h2 style="text-align:center">CẬP NHẬT TRẠNG THÁI ĐƠN HÀNG @Model.MaDH</h2>
    <div class="tile-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaDH)
                    @Html.HiddenFor(model => model.MaDL)
                    @Html.HiddenFor(model => model.MaNVLap)
                    @Html.HiddenFor(model => model.NgayLap)
                    @Html.HiddenFor(model => model.TinhTrangThanhToan)
                    @Html.HiddenFor(model => model.TrangThai)
                    @Html.HiddenFor(model => model.TongTien)
                    @Html.HiddenFor(model => model.PhieuXuatKho)
                    @Html.HiddenFor(model => model.XuatHoaDon)
                    @Html.HiddenFor(model => model.DiemGiao)

                    <div class="form-group">
                        <h5>Tên đại lý: </h5>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.DaiLy.TenDL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiemGiao, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <h5>Địa điểm giao: </h5>
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.DiemGiao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DaiLy.TenDL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <h5>Tình trạng giao hàng:</h5>
                        <div class="col-md-12">
                            <select class="form-control" id="TrangThai" name="TinhTrangGH">
                                <option selected="@Model.TinhTrangGH">@Model.TinhTrangGH</option>
                                <option>Chờ giao</option>
                                <option>Đang giao</option>
                                <option>Đã giao</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TinhTrangGH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <h5>Chuyến giao:</h5>
                        <div class="col-md-12">
                            @Html.DropDownList("MaGH", (IEnumerable<SelectListItem>)ViewBag.ChuyenGiao, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaGH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật @Model.MaDH" class="btn btn-default" id="btn_submit" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <div class="col-sm-2">
        <a class="btn btn-danger" type="button" title="Quay lại " href="/GiaoHang/DonGiaoHang"><i class=""></i> Quay lại</a>
    </div>
</div>


