@model Test02.Models.NhanVienGH

@{
    ViewBag.Title = "NhanVienGiaoHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_shippers = "active";
    ViewBag.nd = "Cập nhật thông tin nhân viên giao";
}


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h4 style="text-align:center">NHÂN VIÊN GIAO HÀNG @Model.MaNV</h4>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaNV)
                    @Html.HiddenFor(model => model.MaGH)
                    <p>
                        <strong>Mã nhân viên: </strong>
                        @Html.DisplayFor(modelItem => Model.MaNV)
                    </p>

                    <div class="form-group">
                        <strong>Tên nhân viên: </strong>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>SDT: </strong>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>Địa chỉ: </strong>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>Tình trạng làm việc: </strong>
                        <div class="col-md-10">
                            <select class="form-control" name="tinhtrang">
                                <option selected="@Model.TinhTrang">@Model.TinhTrang</option>
                                <option>Sẵn sàng</option>
                                <option>Nghỉ phép</option>
                            </select>
                        </div>
                    </div>

                    <div class="row element-button">
                        <div class="col-sm-2">
                            <input style="background-color:#27a300" type="submit" value="Lưu" class="btn btn-default" />
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-danger" type="button" title="Quay lại " href="~/GiaoHang/DanhSachShipper"><i class=""></i> Quay lại</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

