@model IEnumerable<Test02.Models.DonHang>

@using Test02.Models;
@{
    ViewBag.Title = "ChiTietDonGiaoHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_donhangmoi = "active";
    ViewBag.nd = "Chi tiết đơn giao hàng";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChuyenGiao> ct = db.ChuyenGiaos.ToList();
    var ctcg = db.ChuyenGiaos.ToList();

}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body" id="hd">

                <h3 style="text-align:center">THÔNG TIN ĐƠN HÀNG</h3>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    @foreach (var item in Model)
                    {
                        <p style="text-align:center">
                            <span>
                                @{
                                    var dh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();
                                    var gh = db.ChiTietDonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();
                                }
                            </span>
                        </p>
                        <p>
                            <strong>Mã đơn hàng: </strong> @{
                                var dh01 = db.DonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                            @Html.DisplayFor(modelItem => dh01.MaDH)
                        </p>
                        <p>
                            <strong>Tên Đại lý: </strong> @{
                                var tendly = db.DaiLies.Where(s => s.MaDL == dh.MaDL).FirstOrDefault();}
                            @Html.DisplayFor(modelItem => tendly.TenDL)
                        </p>
                        <p>
                            <strong>Địa điểm giao: </strong>
                            @Html.DisplayFor(modelItem => dh.DiemGiao)
                        </p>

                        @*<p>
                            @{ var pxk = db.PhieuNhapXuats.Where(s => s.MaDH == item.MaDH).FirstOrDefault();}
                        </p>
                        <p>
                                <strong>Phiếu xuất kho: </strong>
                                <a href="~/GiaoHang/InPhieuXuatKho/@pxk.MaPhieu" style="color:#002483; font-weight:bold">
                                    @{
                                        var phieuxuat = db.PhieuNhapXuats.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                                    @Html.DisplayFor(modelItem => phieuxuat.MaPhieu)
                                </a>
                            </p>*@

                        @*<p>
                            @{ var hd = db.ChiTietDonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();}
                        </p>
                        <p>
                            <strong>Hóa đơn: </strong>
                            <a href="~/GiaoHang/InHoaDon/@hd.MaDH" style="color:#002483; font-weight:bold">
                                @{
                                    var hoadon = db.ChiTietDonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                                @Html.DisplayFor(modelItem => hoadon.MaDH)
                            </a>
                        </p>*@
                        <td style="text-align:center">
                            <a class="btn  btn-success" href="/GiaoHang/CapNhatTrangThaiDonHang/@item.MaDH">Xếp đơn</a>
                        </td>

                        break;
                    }

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr role="row" style="text-align:center">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px;">Mã sản phẩm</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" style="width: 100px;">Tên sản phẩm</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" style="width: 100px;">Số lượng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px;">Đơn vị tính</th>
                                        @*<th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px;">Đơn giá</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" style="width: 120px;">Thành tiền</th>*@

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var total = 0;
                                    }
                                    @foreach (var item in Model)
                                    {

                                        <p style="text-align:center">
                                            <span>
                                                @{
                                                    var dh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();
                                                    var gh = db.ChiTietDonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();
                                                    var sp = db.SanPhams.Where(s => s.MaSP == gh.MaSP).FirstOrDefault();}
                                            </span>
                                        </p>
                                        <tr>
                                            <td>
                                                @{var masp = db.ChiTietDonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => masp.MaSP)
                                            </td>
                                            <td>
                                                @{var tensp = db.SanPhams.Where(s => s.MaSP == gh.MaSP).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => tensp.TenSP)
                                            </td>
                                            <td>
                                                @{var sl = db.ChiTietDonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => sl.SoLuong)
                                            </td>
                                            <td>
                                                @{var dvt = db.SanPhams.Where(s => s.MaSP == gh.MaSP).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => dvt.DonViTinh)
                                            </td>
                                            @*<td>
                                                @{ var chuyendoi = string.Format("{0:0,0 vnđ}", tensp.Gia);}
                                                @Html.DisplayFor(modelItem => chuyendoi)
                                            </td>

                                            @{var tt = db.ChiTietDonHangs.Where(s => s.MaDH == gh.MaDH).FirstOrDefault();}
                                            <td>
                                                @{total += Convert.ToInt32(tt.ThanhTien);}
                                                @{var ThanhTien = string.Format("{0:0,0 vnđ}", tt.ThanhTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)
                                            </td>*@
                                        </tr>
                                    }
                                    @*<tr>
                                        <th colspan="5">Tổng cộng hóa đơn:</th>
                                        @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                        <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                    </tr>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row element-button">

                    <div class="col-sm-2">
                        <a class="btn btn-success" type="button" title="Xếp đơn " href="~/GiaoHang/DanhSachCacChuyenGiao"><i class=""></i>Xếp đơn</a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-danger" type="button" title="Quay lại " href="~/GiaoHang/DonHangMoi"><i class=""></i> Quay lại</a>
                    </div>
                </div>*@
        </div>
    </div>
</div>






@*<div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <a class="btn btn-delete btn-sm nhap-tu-file" href="/GiaoHang/ThemChuyenGiaoHang"><i class="fas fa-file-upload"></i> Thêm chuyến giao hàng</a>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" href="#"><i class="fas fa-refresh"></i> Làm mới danh sách</a>
                        </div>
                    </div>
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <h2 style="margin-left:27%">DANH SÁCH CÁC CHUYẾN GIAO HÀNG HIỆN CÓ</h2>
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable1" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align:center">Mã giao hàng</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 70px; text-align: center ">Tên nhân viên giao</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Mã phương tiện</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Ngày lập</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Trạng thái</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Khu vực giao</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Ngày giao</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 25px; text-align: center ">Xếp đơn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ctcg)
                                        {
                                            if (item.TrangThai == "Chờ giao")
                                            {
                                                <p style="text-align:center">
                                                    <span>
                                                        @{
                                                            var gh = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();
                                                            var dh = db.DonHangs.Where(s => s.MaGH == gh.MaGH).FirstOrDefault();
                                                        }
                                                    </span>
                                                </p>
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MaGH)
                                                    </td>
                                                    <td>
                                                        @{var tennvg1 = db.NhanVienGHs.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                        @Html.DisplayFor(modelItem => tennvg1.TenNV)
                                                    </td>
                                                    <td>
                                                        @{var pt1 = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                        @Html.DisplayFor(modelItem => pt1.MaPT)
                                                    </td>
                                                    <td>
                                                        @{
                                                            var nl1 = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                        @Html.DisplayFor(modelItem => nl1.NgayLap)
                                                    </td>
                                                    <td>
                                                        @{
                                                            var tt = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                        @Html.DisplayFor(modelItem => tt.TrangThai)
                                                    </td>
                                                    <td>
                                                        @{
                                                            var kvg = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                        @Html.DisplayFor(modelItem => kvg.KhuVucGiao)
                                                    </td>
                                                    <td>
                                                        @{
                                                            var ng = db.ChuyenGiaos.Where(s => s.MaGH == item.MaGH).FirstOrDefault();}
                                                        @Html.DisplayFor(modelItem => kvg.NgayGiao)
                                                    </td>
                                                    <td style="text-align:center">
                                                        <a class="btn  btn-primary btn-sm edit" href="/GiaoHang/ChiTietChuyenGiaoHang/@item.MaGH">
                                                            <i class='bx bxs-cube-alt'></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div class="row element-button">
    <div class="col-sm-2">
        <a class="btn btn-danger" type="button" title="Quay lại " href="~/GiaoHang/DonHangMoi"><i class=""></i> Quay lại</a>
    </div>
</div>


