@model IEnumerable<Test02.Models.ChiTietDonHang>

@using Test02.Models;
@{
    ViewBag.Title = "ChiTietDonGiaoHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_ctdgh = "active";
    ViewBag.nd = "Chi tiết đơn giao hàng";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ct = db.ChiTietDonHangs.ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body" id="hd">

                <h3 style="text-align:center">CHI TIẾT ĐƠN GIAO HÀNG</h3>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    @foreach (var item in Model)
                    {
                        <p style="text-align:center">
                            <span>
                                @{
                                    var dh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();
                                    var gh = db.DonHangGiaos.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                            </span>
                        </p>
                        <p>
                            <strong>Mã đơn hàng: </strong> @{
                                var dh01 = db.DonHangs.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                            @Html.DisplayFor(modelItem => dh01.MaDH)
                        </p>
                        <p>
                            <strong>Tên Đại lý: </strong> @{
                                var tendly = db.DaiLies.Where(s => s.MaDL == dh.MaDL).FirstOrDefault();}
                            @Html.DisplayFor(modelItem => tendly.TenDL)
                        </p>

                        <p><strong>Địa điểm giao: </strong>@Html.DisplayFor(modelItem => dh.DiemGiao)</p>

                        <p>
                            <strong>Phiếu xuất kho: </strong>
                            <a href="/GiaoHang/InPhieuXuatKho" style="color:#002483; font-weight:bold">
                                @{
                                    var phieuxuat = db.PhieuNhapXuats.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                                @Html.DisplayFor(modelItem => phieuxuat.MaPhieu)
                            </a> 

                        </p>

                        <p>
                            <strong>Hóa đơn: </strong>
                            <a href="#" style="color:#002483; font-weight:bold">
                                @{
                                    var hoadon = db.HoaDons.Where(s => s.MaDH == dh.MaDH).FirstOrDefault();}
                                @Html.DisplayFor(modelItem => hoadon.MaHD)
                            </a>
                        </p>

                        break;
                    }

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                <thead>
                                    <tr role="row" style="text-align:center">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px;">Mã sản phẩm</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" style="width: 100px;">Tên sản phẩm</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" style="width: 100px;">Số lượng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px;">Đơn vị tính</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px;">Đơn giá</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" style="width: 120px;">Thành tiền</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var total = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaSP)
                                            </td>
                                            <td>
                                                @{ var tensp = db.SanPhams.Where(s => s.MaSP == item.MaSP).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => tensp.TenSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => tensp.DonViTinh)
                                            </td>
                                            <td>
                                                @{ var chuyendoi = string.Format("{0:0,0 vnđ}", tensp.Gia);}
                                                @Html.DisplayFor(modelItem => chuyendoi)
                                            </td>

                                            <td>
                                                @{ total += Convert.ToInt32(item.ThanhTien);}
                                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.ThanhTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <th colspan="5">Tổng cộng hóa đơn:</th>
                                        @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                        <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
            <div class="row element-button">
                <div class="col-sm-2">
                    <a class="btn btn-success" type="button" title="Xếp đơn " href="~/GiaoHang/XetDuyetDonGiaoHang/@TempData["magh"]"><i class=""></i>Xếp đơn</a>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-danger" type="button" title="Quay lại " href="~/GiaoHang/DonHangMoi"><i class=""></i> Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>




