@model IEnumerable<Test02.Models.PhuongTienGH>
@using Test02.Models;
@{
    ViewBag.Title = "PhuongTienGiaoHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_phuongtienGH = "active";
    ViewBag.nd = "Danh sách phương tiện giao hàng";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm nhap-tu-file" href="~/GiaoHang/ThemPhuongTienGiaoHang"><i class="fas fa-file-upload"></i> Thêm phương tiện mới</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="#"><i class="fas fa-refresh"></i> Làm mới danh sách</a>
                    </div>
                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <h2 style="margin-left:30%">DANH SÁCH PHƯƠNG TIỆN GIAO HÀNG</h2>
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align:center">Mã phương tiện</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 100px; text-align: center ">Tên phương tiện</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Trọng tải</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Tình trạng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" style="width: 50px; text-align: center ">Cập nhật</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaPT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenPT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrongTai)
                                        </td>
                                        @if (item.TinhTrang == "Sẵn sàng")
                                        {
                                            <td>
                                                <span class="badge bg-success" style="width:100px">
                                                    @Html.DisplayFor(modelItem => item.TinhTrang)
                                                </span>
                                            </td>
                                        }
                                        else if (item.TinhTrang == "Sử dụng")
                                        {
                                            <td>
                                                <span class="badge bg-dark" style="width:100px">
                                                    @Html.DisplayFor(modelItem => item.TinhTrang)
                                                </span>
                                            </td>
                                        }
                                        else if (item.TinhTrang == "Bảo trì")
                                        {
                                            <td>
                                                <span class="badge bg-danger" style="width:100px">
                                                    @Html.DisplayFor(modelItem => item.TinhTrang)
                                                </span>
                                            </td>
                                        }

                                        @if (item.TinhTrang == "Sẵn sàng")
                                        {
                                    <td style="text-align:center">
                                        <a href="/GiaoHang/ChinhSuaPhuongTienGiaoHang/@item.MaPT" class="btn btn-primary btn-sm edit">
                                            <i class='bx bxs-edit-alt'></i>
                                        </a>
                                        <a href="/GiaoHang/XoaPhuongTienGiaoHang/@item.MaPT" class="btn btn-primary btn-sm deleted">
                                            <i class="bx bxs-trash-alt"></i>
                                        </a>
                                    </td>
                                        }
                                        else if (item.TinhTrang == "Sử dụng")
                                        {
                                    <td style="text-align:center">
                                        <a anchor.href = "javascript:void(0)" class="btn btn-primary btn-sm edit">
                                            <i class='bx bxs-edit-alt'></i>
                                        </a>
                                        <a anchor.href = "javascript:void(0)" class="btn btn-primary btn-sm deleted">
                                            <i class="bx bxs-trash-alt"></i>
                                        </a>
                                    </td>
                                        }
                                        else if (item.TinhTrang == "Bảo trì")
                                        {
                                    <td style="text-align:center">
                                        <a href="/GiaoHang/ChinhSuaPhuongTienGiaoHang/@item.MaPT" class="btn btn-primary btn-sm edit">
                                            <i class='bx bxs-edit-alt'></i>
                                        </a>
                                        <a href="/GiaoHang/XoaPhuongTienGiaoHang/@item.MaPT" class="btn btn-primary btn-sm deleted">
                                            <i class="bx bxs-trash-alt"></i>
                                        </a>
                                    </td>
                                        }                                    
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //In dữ liệu
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
</script>
