@model IEnumerable<Test02.Models.DonHang>
@using Test02.Models;
@{
    ViewBag.Title = "DonHangMoi";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_donhangmoi = "active";
    ViewBag.nd = "Danh sách đơn hàng mới cần giao";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ctdh = db.ChiTietDonHangs.ToList();
}


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    @*<div class="col-sm-2">
                            <a class="btn btn-delete btn-sm nhap-tu-file" href="~/KinhDoanh/ThemDH"><i class="fas fa-file-upload"></i> Thêm mới đơn hàng</a>
                        </div>*@
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="#"><i class="fas fa-refresh"></i> Làm mới danh sách</a>
                    </div>
                    @*<div class="col-sm-2">
                            <a class="btn btn-add btn-sm print-file js-textareacopybtn" type="button" target="_blank" title="Sao chép" href="https://docs.google.com/spreadsheets/d/1pXggMVohTvKevnA4Nm9-EOg5vnuT_eFYZjLzN3fJvOY/edit?usp=sharing"><i class="fas fa-address-book"></i> Tiếp nhận đơn hàng</a>
                        </div>*@
                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="ID nhân viên: activate to sort column ascending" style="width: 60px; text-align:center">Mã đơn hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Chức vụ: activate to sort column ascending" style="width: 70px; text-align: center ">Ngày lập</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Địa chỉ: activate to sort column ascending" style="width: 50px; text-align: center ">Mã đại lý</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Chức vụ: activate to sort column ascending" style="width: 120px; text-align: center ">Địa điểm giao hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="SĐT: activate to sort column ascending" style="width: 100px; text-align: center ">Tên nhân viên giao</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 80px; text-align: center ">Tổng tiền</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 100px; text-align: center ">Tình trạng thanh toán</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 25px; text-align: center ">Xét duyệt</th>

                                        @*<th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Chức năng</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        if (item.TrangThai == "Đã xét duyệt")
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaDH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgayLap)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaDL)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiemGiao)
                                                </td>
                                                <td>
                                                    @{var tennv = db.NhanViens.Where(s => s.MaNV == item.MaNVLap).FirstOrDefault();

                                                    }
                                                    @Html.DisplayFor(modelItem => tennv.TenNV)
                                                </td>


                                                <td>
                                                    @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.TongTien);}
                                                    @Html.DisplayFor(modelItem => ThanhTien)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
                                                </td>
                                                <td style="text-align:center">
                                                    <a href="/GiaoHang/DanhSachGiaoHang" class="btn btn-primary btn-sm edit">
                                                        <i class='bx bxs-check-square'></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>