@model Test02.Models.PhieuNhapXuat
@using Test02.Models;
@{
    ViewBag.Title = "In phiếu xuất kho";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_cg = "active";
    ViewBag.Name = "In phiếu xuất kho";
    ViewBag.nd = "In phiếu xuất kho";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    var kho = db.Khoes.ToList();
    var ctdonhang = db.ChiTietDonHangs.ToList();
    var donhang = db.DonHangs.ToList();
}


<div class="row">
    <div class="col-md-12">
        <div class="tile" id="printMe">
            <p>Tên đơn vị: Công ty TNHH nước giải khát NQK</p>
            <p>Theo mã đơn hàng số: @TempData["ctmadh"]</p>
            <h2 style="text-align:center" id="sample1">PHIẾU XUẤT KHO THEO ĐƠN HÀNG @TempData["ctmadh"]</h2>
            <form style="text-align:center">
                <label for="date">Ngày:</label>
                @TempData["ngaylap"]<br>
                <label for="date">Mã số:</label>
                @Html.DisplayFor(model => model.MaPhieu)<br>
                <label for="date">Người làm phiếu: </label>
                <b>@TempData["nvlap"]-@TempData["tennvlap"]</b>
            </form>
            <div class="tile-body">
                <form class="row">
                    <div class="col-md-6 text-center">
                        <div class="form-group col-md-12" id="sample5">
                            <label class="control-label" id="ThongTinKho1">Kho xuất hàng:</label>
                            @Html.DisplayFor(model => model.MaKho) - @Html.DisplayFor(model => model.Kho.TenKho)
                        </div>
                        <div class="form-group col-md-12" id="sample5">
                            <label class="control-label" id="ThongTinKho1">Địa chỉ lấy hàng:</label> @Html.DisplayFor(model => model.Kho.DiaChi)
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="form-group col-md-12" id="sample4">
                            <label class="control-label">Đại lý nhận hàng: </label>
                            @TempData["maDL"] - @TempData["tenDL"]
                        </div>
                        <div class="form-group col-md-12" id="sample4">
                            <label class="control-label">Địa chỉ nhận hàng: </label>
                            @TempData["diemgiao"]
                        </div>
                    </div>

                    <div class="form-group col-md-12 table-responsive" id="sample6">
                        <label class="control-label">Nhân viên giao hàng: </label> <a>@TempData["tenNVGiao"]</a> <br />
                        <label class="control-label">Phương tiện giao hàng: </label> <a>@TempData["phuongtien"]</a> <br />
                        <label class="control-label">Danh sách sản phẩm: </label> <br />
                        <table class="table table-hover table-striped table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Đơn vị tính</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var total = 0;}
                                @{ var madhX = TempData["ctmadh"];}
                                @foreach (var item in ctdonhang)
                                {
                                    if (item.MaDH == (string)madhX)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaSP)
                                            </td>
                                            <td>
                                                @{ var tensp = db.SanPhams.Where(s => s.MaSP == item.MaSP).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => tensp.TenSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>
                                            <td>
                                                @{ var dongia = db.SanPhams.Where(s => s.MaSP == item.MaSP).FirstOrDefault();}
                                                @{ var chuyendoi = string.Format("{0:0,0 vnđ}", dongia.Gia);}
                                                @Html.DisplayFor(modelItem => chuyendoi)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => dongia.DonViTinh)
                                            </td>
                                            <td>
                                                @{ total += Convert.ToInt32(item.ThanhTien);}
                                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.ThanhTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <th colspan="5">
                                        <p class="pull-right">Tổng cộng đơn hàng:</p>
                                    </th>
                                    @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                    <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                </tr>
                        </table>

                    </div>
                    <h5 style="margin-left:82%;" id="sample1">Thủ kho</h5>
                    <h6 style="margin-left:80%; font-style:italic;" id="sample1">(ký và ghi rõ họ tên)</h6>
                    <br />
                    <br />
                    <br />
                    <h6 style="margin-left:79%;" id="sample1">Nguyễn Thị Diễm Khang</h6>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-left:10px" id="btnin">
    <div class="col-sm-2">
        <a class="btn btn-delete " title="In" onclick="printDiv('printMe')">
            <i class="fas fa-print"></i> In dữ liệu
        </a>
    </div>
    <div class="col-sm-2">
        @{
            var donhang01 = db.DonHangs.Where(s => s.MaDH == Model.MaDH).FirstOrDefault();
            var chuyengiao = db.ChuyenGiaos.Where(s => s.MaGH == donhang01.MaGH).FirstOrDefault();
            <a class="btn  btn-danger" href="/GiaoHang/ChiTietChuyenGiaoHang/@chuyengiao.MaGH">Quay lại</a>
        }
    </div>
</div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.getElementById("btnin").style.display = "none";
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
