@model Test02.Models.ChiTietChuyenGiao
@using Test02.Models;

@{
    ViewBag.Title = "ThemDonHangVaoChuyenGiao";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.gh_cg = "active";
    ViewBag.nd = "Thêm đơn hàng vào chuyến giao";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
}

<h3>Thêm đơn hàng vào chuyến giao @Session["donhang"]</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal col-6">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaCTDVC)
            @Html.HiddenFor(model => model.MaDH)

            <div class="form-group">
                @Html.LabelFor(model => model.MaDH, "Mã đơn hàng", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MaDH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaDH, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group justify-content-between" style="margin:auto 12px">
                <div class="">
                    <input type="submit" value="Thêm đơn hàng" class="btn btn-outline-dark" required />
                </div>
                <div>
                    <a class="btn btn-outline-secondary btn-sm" href="~/GiaoHang/ChiTietChuyenGiaoHang/@Session["donhang"]" title="Trở lại">
                        <i class="fas fa-retweet"></i>
                        Trở lại
                    </a>
                </div>
            </div>
        </div>
    </div>
}