@model Test02.Models.DonHangGiao
@using Test02.Models;
@{
    ViewBag.Title = "XetDuyetDonGiaoHang";
    Layout = "~/Views/GiaoHang/Layout/LayoutGH.cshtml";
    ViewBag.xddGH = "active";
    ViewBag.Name = "Xét duyệt đơn giao hàng";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    var kho = db.Khoes.ToList();
    var ctdonhang = db.ChiTietDonHangs.ToList();
    var shipper = db.NhanVienGHs.ToList();
    var phuongtien = db.PhuongTienGHs.ToList();
}



<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h2 style="text-align:center" id="sample1">ĐIỀU HƯỚNG ĐƠN GIAO HÀNG</h2>

            <form style="text-align:center">
                <label for="date">Ngày:</label>@TempData["ngayduyet"]<br>
                <label for="date">Người thực hiện: </label>
                @{
                    var user = (Test02.Models.NhanVien)HttpContext.Current.Session["user"];
                    @user.TenNV}
            </form>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="tile-body">
                    <form class="row">

                        <div class="form-group col-md-12" id="sample5">
                            <label class="control-label" id="phuongtien">Phương tiện vận chuyển:</label><br />
                            <select class="form-control" name="phuongtien">
                                <option>----Chọn phương tiện----</option>
                                @foreach (var item in phuongtien)
                                {
                                    <option>@item.MaPT</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-12" id="sample5">
                            <label class="control-label" id="shipper">Chọn nhân viên giao hàng:</label><br />
                            <select class="form-control" name="shipper">
                                <option>----Chọn nhân viên giao hàng----</option>
                                @foreach (var item in shipper)
                                {
                                    if (item.TinhTrang == "Sẵn Sàng")
                                    {
                                        <option>@item.TenNV</option>
                                    }
                                }
                            </select>
                            <br />
                            <label class="control-label" id="shipper">Nhân viên hỗ trợ giao hàng:</label><br />
                            <select class="form-control" name="shipper">
                                <option>----Chọn nhân viên hỗ trợ giao hàng----</option>
                                @foreach (var item in shipper)
                                {
                                    if (item.TinhTrang == "Sẵn Sàng" /*&& item.TenNV != shipper.*/)
                                    {
                                        <option>@item.TenNV</option>
                                    }
                                }
                            </select>
                        </div>

                        <h5 style="margin-left:80%;" id="sample1">Người duyệt đơn</h5>
                        <h6 style="margin-left:80%; font-style:italic;" id="sample1">(ký và ghi rõ họ tên)</h6>
                        <br />
                        <br />
                        <h6 style="margin-left:82%;" id="sample1">Neo Nguyễn</h6>
                    </form>
                </div>
            }
            
             <div>
                    <input type="submit" value="Xác nhận" class="btn btn-success" />
                    <a class="btn btn-danger" href="~/GiaoHang/DonGiaoHang">Trở lại</a>
             </div>
            
        </div>
    </div>
</div>
