@model IEnumerable<Test02.Models.ChiTietKho>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kho.TenKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kho.TenKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTKho }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTKho }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTKho })
        </td>
    </tr>
}

</table>
