@model IEnumerable<Test02.Models.PhieuCongNo>
@using Test02.Models;
@{
    ViewBag.Title = "CongNo";
    Layout = "~/Views/KhachHang/Layout/_LayoutKhachHang.cshtml";
    ViewBag.nd = "Trang công nợ";
    ViewBag.cn = "active";

    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    var maDL = ViewBag.daiLy;
    var doanhThu = db.DonHangs.ToList().Where(s => s.MaDL == TempData["daiLy"].ToString() && s.TinhTrangThanhToan == "Đã thanh toán" && s.TinhTrangGH == "Đã giao" && s.NgayLap.Value.Month == DateTime.Now.Month);
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">DOANH SỐ</h3>
            <div class="tile-body">
                <div>
                    <div style="margin: 20px 0px 20px 0px">
                        @{ double tongdoanhThu = 0;}
                        @foreach (var item in doanhThu)
                        {
                            tongdoanhThu += (double)item.TongTien;
                        }
                        <b>Doanh số tháng @DateTime.Now.Month: </b> @{ var tongDT = string.Format("{0:0,0 VNĐ}", @tongdoanhThu); } @tongDT
                    </div>
                    <p >Điều kiện loại đại lý: </p>
                    <p>+ Doanh số 1 tháng trên 1.000.000.000 VNĐ (Loại đai lý - Đại lý lớn)</p>
                    <p>+ Doanh số 1 tháng từ 500.000.000 VNĐ - dưới 1.000.000.000 VNĐ (Loại đai lý - Đại lý vừa)</p>
                    <p>+ Doanh số 1 tháng dưới 500.000.000 VNĐ (Loại đai lý - Đại lý nhỏ)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">DANH SÁCH CÔNG NỢ</h3>
            <div class="tile-body table-responsive">
                <div style="margin: 10px 0px 10px 0px">
                    @{ var congno = string.Format("{0:0,0 VNĐ}", @ViewBag.CongNo);}
                    <b>Mức công nợ tối đa của đại lý: @congno</b>
                </div>
                <table>
                    <tr>
                        <th>
                            Mã công nợ
                        </th>
                        <th>
                            Tiền nợ
                        </th>
                        <th>
                            Ngày lập
                        </th>
                        <th>
                            Ngày phải trả
                        </th>
                        <th>
                            Trạng thái thanh toán
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaCongNo)
                            </td>
                            <td>
                                @{ var tienno = string.Format("{0:0,0} VNĐ", item.TienNo);}
                                @Html.DisplayFor(modelItem => tienno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayLapCN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HanTra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal">
                                    <i class="fa fa-info"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6" style="text-align: right;">
                            <b>Tiền còn nợ:</b> @{ var tong = string.Format("{0:0,0 VNĐ}", TempData["TongConNo"]);} @tong
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="margin-top: 20px; ">
                            <div style="text-align: center;"><h4>VUI LÒNG LIÊN HỆ</h4></div>
                            <div style="font-size: 1rem; margin-top: 30px;" class="table-responsive">
                                <div>
                                    <b>Hotline: </b> (+84)999-999-999
                                </div>
                                <div style="margin-top: 10px;">
                                    <b>Email: </b> daily@gmail.com
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
