@model IEnumerable<Test02.Models.DonHang>
    @using Test02.Models
@{
    ViewBag.Title = "DonHangDL";
    Layout = "~/Views/KhachHang/Layout/_LayoutKhachHang.cshtml";
    ViewBag.dhdl = "active";
    ViewBag.Name = "Đơn hàng";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
}

<h2>Danh sách đơn hàng</h2>


<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Ngày lập
        </th>
        @*<th>
            Số lượng
        </th>
        <th>
            Giá
        </th>
        <th>
            Chiết khấu
        </th>*@
        <th>
            Trạng thái tiếp nhận
        </th>
        <th>
            Tình trạng thanh toán
        </th>
        <th>Chức năng</th>
    </tr>
    @{
        var user = (Test02.Models.DaiLy)HttpContext.Current.Session["userDL"];
      }
    @{ var mdl = user.MaDL;}
    @foreach (var item in Model)
    {
        if (item.MaDL == mdl)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                @*<td>
                    @{var ck = item.DonHang.DaiLy.LoaiDL.ChietKhau * 100;
                      string str = Convert.ToString(ck);}
                    @Html.DisplayFor(modelItem => str)%

                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
                </td>
                <td>
                    @Html.ActionLink("Hủy đơn", "DeleteDH", new { id = item.MaDH }) |
                    @Html.ActionLink("Chi tiết", "DetailsDH", new { id = item.MaDH })
                </td>
            </tr>
        }
            
    }

</table>

