@model Test02.Models.Cart

@{
    ViewBag.Title = "GioHangDL";
    Layout = "~/Views/KhachHang/Layout/_LayoutKhachHang.cshtml";
    ViewBag.gh = "active";
    ViewBag.nd = "Trang giỏ hàng";
    //<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    if (TempData["GHNull"] != null)
    {
        <script>
            swal({
                title: "Vui lòng chọn sản phẩm",
                icon: "warning",
                button: "Thoát",
            });
        </script>
    }

    if (TempData["XoaSP"] != null)
    {
        <script>
            swal({
                title: "Xóa sản phẩm thành công!!!",
                icon: "success",
                button: "Thoát",
            });
        </script>
    }

    if (TempData["SLSP=0"] != null)
    {
        <script>
            swal({
                title: "Số lượng sản phẩm phải lớn hơn 0",
                icon: "warning",
                button: "Thoát",
            });
        </script>
    }

    if (TempData["Warning"] != null)
    {
        <script>
            swal({
                title: "Số lượng cập nhật lớn hơn số lượng tồn!!!",
                icon: "warning",
                button: "Thoát",
            })
        </script>
    }

    if (TempData["MaxCN"] != null)
    {
        <script>
            swal({
                title: "Số tiền vượt quá mức quy định, vui lòng mua hàng trong mức quy định hoặc thanh toán công nợ trước khi đặt hàng",
                icon: "warning",
                button: "Thoát",
            });
        </script>
    }

    if (TempData["ErrorSL"] != null)
    {
        <script>
            swal({
                title: "Số lượng không hợp lệ",
                icon: "warning",
                button: "Thoát",
            });
        </script>
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">DANH SÁCH GIỎ HÀNG</h3>
            <div class="tile-body table-responsive">
                @if (Model != null)
                {
                    <table>
                        <thead>
                            <tr style="text-align: center;">
                                <th style="text-align: center">Tên sản phẩm</th>
                                <th style="text-align: center">Hình ảnh</th>
                                <th style="text-align: center">Giá</th>
                                <th style="text-align: center">Số lượng tồn</th>
                                <th style="text-align: center;">Số lượng mua</th>
                                <th style="text-align: center">Thành tiền</th>
                                <th style="text-align: center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                //double total = item.idSP.Gia.Value * item.soLuong;
                                <tr>
                                    <td style="text-align: center">@Html.DisplayFor(model => item.idSP.TenSP)</td>
                                    <td style="width: 100px; height: 100px;"><img src="@item.idSP.HinhAnh" style="width: 100px; height: 100px;"></td>
                                    <td style="text-align: center">
                                        @{var gia = string.Format("{0:0,0 VNĐ}", item.idSP.Gia);}
                                        @Html.DisplayFor(model => gia)
                                    </td>
                                    <td style="text-align: center">@Html.DisplayFor(model => item.idSP.TongTon)</td>
                                    <td style="width: 150px;">
                                        @*@using (Html.BeginForm("CapNhatSL", "KhachHang"))
                                            {
                                                <input type="hidden" value="@item.idSP.MaSP" name="MaSP" />
                                                <div style="display: flex;">
                                                    <input class="form-control" type="number" value="@item.soLuong" name="soluong" style="width: 150px;" />
                                                    <input class="btn btn-success" type="submit" value="Cập nhật" />
                                                </div>
                                            }*@

                                        <input class="form-control quantity" type="number" min="1" max="@item.idSP.TongTon" id="quantity-@item.idSP" name="quantity" value="@item.soLuong" style="width: 150px;" data-product-id="@item.idSP.MaSP" data-tong-ton="@item.idSP.TongTon" data-soluongafter="@item.soLuong" />

                                    </td>
                                    <td class="thanhtien" id="thanhtien-@item.idSP.MaSP" style="text-align: center">
                                        @{ var tien = string.Format("{0:0,0 VNĐ}", Model.ThanhTien(item.idSP.MaSP)); ;} @tien
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="/KhachHang/XoaSP/@item.idSP.MaSP" class="btn btn-primary trash"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" id="tongtien" style="text-align: right;">
                                    Tổng Tiền: @{ var tong = string.Format("{0:0,0 VNĐ}", @Model.TongTien());} @tong
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" style="text-align: right; border: 0px;">
                                    <a id="dathang" class="btn btn-primary dathang" href="/KhachHang/PageDatHang">Đặt hàng</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                }

                else if (Model == null)
                {
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: center">Tên sản phẩm</th>
                                <th style="text-align: center">Hình ảnh</th>
                                <th style="text-align: center">Giá</th>
                                <th style="text-align: center">Số lượng tồn</th>
                                <th style="text-align: center">Số lượng mua</th>
                                <th style="text-align: center">Thành tiền</th>
                                <th style="text-align: center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7" style="text-align: center;">Không có sản phẩm trong giỏ hàng</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" style="text-align: right;">
                                    Thành tiền: 00 VNĐ
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: right; border: 0px;">
                                    <a class="btn btn-primary" href="/KhachHang/PageDatHang">Đặt hàng</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.quantity').change(function () {
            var quantity = $(this).val();
            var soluongton = $(this).data('tong-ton');
            var productId = $(this).data('product-id');
            var slafter = $(this).data('soluongafter');
            $.ajax({
                url: '/KhachHang/CapNhatSL',
                type: 'POST',
                data: { MaSP: productId, soluong: quantity },
                success: function (result) {
                    if (quantity <= 0) {
                        //location.reload();
                        swal({
                            title: "Số lượng sản phẩm phải lớn hơn 0",
                            icon: "warning",
                            button: "Thoát",
                        });
                    }

                    else {
                        if (quantity > soluongton) {
                            /*location.reload();*/
                            swal({
                                title: "Số lượng cập nhật lớn hơn số lượng tồn!!!",
                                icon: "warning",
                                button: "Thoát",
                            });
                        }

                        else {
                            $('#tongtien').text(result.tongTien);
                            $('#thanhtien-' + productId).text(result.thanhTien);
                        }
                    }
                }
            });
        });
    });
</script>

@*<script>
    $(document).click(function () {
        $('.dathang').click(function () {
            var quantity = $('.quantity').val();
            var soluongton = $('.quantity').data('tong-ton');

            if (quantity <= 0) {
                //location.reload();
                swal({
                    title: "Số lượng sản phẩm phải lớn hơn 0",
                    icon: "warning",
                    button: "Thoát",
                });
            }

            else {
                if (quantity > soluongton) {
                    /*location.reload();*/
                    swal({
                        title: "Số lượng cập nhật lớn hơn số lượng tồn!!!",
                        icon: "warning",
                        button: "Thoát",
                    });
                }
                else {
                    let a = document.getElementById("dathang");
                    a.setAttribute("href", "/KhachHang/PageDatHang")
                }
            }
        });
    });
</script>*@