@model IEnumerable<Test02.Models.ChiTietBienBang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/PhongKho/Layout/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SLTonKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLThucTe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChenhLech)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LyDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BienBangKiemKe.MaNVLap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SLTonKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLThucTe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChenhLech)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LyDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BienBangKiemKe.MaNVLap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTBB }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTBB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTBB })
        </td>
    </tr>
}

</table>
