@model Test02.Models.DonHang

@{
    ViewBag.Title = "ChinhSuaDH";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.dh = "active";
    ViewBag.nd = "Chỉnh sửa danh sách đơn hàng";

}



<div class="tile">
    <h2>Chỉnh sửa đơn hàng @Model.MaDH của đại lý @Model.MaDL</h2>
    <div class="tile-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaDH)
                @Html.HiddenFor(model => model.MaDL)
                @Html.HiddenFor(model => model.MaNVLap)
                @Html.HiddenFor(model => model.NgayLap)
                @Html.HiddenFor(model => model.TinhTrangThanhToan)
                @Html.HiddenFor(mode => mode.PhieuXuatKho)
                @Html.HiddenFor(mode => mode.XuatHoaDon)
                @Html.HiddenFor(mode => mode.TinhTrangGH)
                @Html.HiddenFor(mode => mode.TongTien)
                <div class="form-group">
                    @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <select class="form-control" id="TrangThai" name="TrangThai">
                            <option selected disabled>----Chọn----</option>
                            <option>Chưa xét duyệt</option>
                            <option>Đã xét duyệt</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiemGiao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.DiemGiao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiemGiao, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu đơn hàng @Model.MaDH" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Quay lại danh sách", "QuanLyDH")
</div>
