@model Test02.Models.DaiLy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.nd = "Xóa đại lý";
    ViewBag.dl = "active";
}

<div class="tile">
    <h3 class="tile-title">Bạn có chắc chắn muốn xóa đại lý @Model.MaDL</h3>
    <div class="tile-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TenDL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenDL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SDT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayTao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LoaiDL.TenDaiLy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoaiDL.TenDaiLy)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa đại lý" class="btn btn-default" /> |
                    @Html.ActionLink("Quay lại danh sách đại lý", "QuanLyDL")
                </div>
            }
        </div>
    </div>
</div>
