@model IEnumerable<Test02.Models.DonHang>
@using Test02.Models;
@{
    ViewBag.Title = "QuanLyDH";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.dh = "active";
    ViewBag.nd = "Danh sách đơn hàng";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ctdh = db.ChiTietDonHangs.ToList();
    var dsdl = db.DaiLies.ToList();
    var dssp = db.SanPhams.ToList();
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Content/js/tableToExcel.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "Đã thêm mới đơn hàng")
    {
        <script>
            swal({
                title: "Thêm đơn hàng thành công",
                text: "Mã đơn hàng @TempData["themmadh"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "Đã cập nhật chi tiết đơn hàng")
    {
        <script>
            swal({
                title: "Đặt thêm sản phẩm thành công",
                text: "Mã đơn hàng @TempData["capnhatdh"] đã được cập nhật",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "Không đủ số lượng để đặt")
    {
        <script>
            swal({
                title: "Thêm đơn hàng không thành công \n Vui lòng kiểm tra lại ",
                text: "Mã đơn hàng @TempData["capnhatdh"] đã được hủy! ",
                icon: "error",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "Đã xóa đơn hàng")
    {
        <script>
            swal({
                title: "Đã xóa đơn hàng không thành công \n Vui lòng kiểm tra lại ",
                text: "Mã đơn hàng @TempData["capnhatdh"] đã được xóa! ",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    ;
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm nhap-tu-file" onclick="resetpage()" data-target="#myModal" data-toggle="modal" @*href="~/KinhDoanh/ThemDH"*@><i class="fas fa-file-upload"></i> Thêm mới đơn hàng</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="~/KinhDoanh/QuanLyDH"><i class="fas fa-copy"></i> Làm mới danh sách</a>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-excel btn-sm" id="button-excel" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                    </div>
                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table data-cols-width="20,20,20,30,20,20,20,20,20,20,20" class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row">
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="ID nhân viên: activate to sort column ascending" style="width: 100px;">Mã đơn hàng</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Địa chỉ: activate to sort column ascending" style="width: 100px;">Mã đại lý</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="SĐT: activate to sort column ascending" style="width: 160px;">Mã nhân viên lập</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Chức vụ: activate to sort column ascending" style="width: 100px;">Ngày lập</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 120px;">Trạng thái đơn hàng</th>
                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Chức vụ: activate to sort column ascending" style="width: 124px;">Địa điểm giao hàng</th>

                                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Tổng tiền</th>
                                        <th data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Tình trạng thanh toán</th>
                                        <th data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Tình trạng xuất kho</th>
                                        <th data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Tình trạng xuất hóa đơn</th>
                                        <th data-b-a-s="thick" data-f-bold="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Tình trạng giao hàng</th>
                                        <th data-exclude="true" width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 110px;">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.MaDH)
                                            </td>
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.MaDL)
                                            </td>
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.MaNVLap)
                                            </td>
                                            @*<td>
                                                    @{var tensp = db.SanPhams.Find(item.MaSP);
                                                    }
                                                    @Html.DisplayFor(modelItem => tensp.TenSP)
                                                </td>*@
                                            @*<td>
                                                    @{var madh = db.ChiTietDonHangs.Find(item.MaDH);
                                                    }
                                                    @{ var ThanhTien = string.Format("{0:0,0 vnđ}", madh.ThanhTien);}
                                                    @Html.DisplayFor(modelItem => ThanhTien)
                                                </td>*@
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.NgayLap)
                                            </td>
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.TrangThai)
                                            </td>
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.DiemGiao)
                                            </td>
                                            <td data-b-a-s="thin">
                                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.TongTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)
                                            </td>
                                            <td data-b-a-s="thin">
                                                @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
                                            </td>
                                            <td data-b-a-s="thin" data-t:"b">
                                                @item.PhieuXuatKho
                                            </td>
                                            <td data-b-a-s="thin" data-t:"b">
                                                @item.XuatHoaDon
                                            </td>
                                            <td data-b-a-s="thin" data-t:"b">
                                                @item.TinhTrangGH
                                            </td>
                                            <td data-exclude="true">
                                                <a href="/KinhDoanh/ChinhSuaDH/@item.MaDH" class="btn btn-primary btn-sm edit">
                                                    <i class="fa fa-edit"></i>
                                                </a> ||
                                                @*<a href="/KinhDoanh/ChinhSuaCTDH/@item.MaDH" class="btn btn-outline-primary btn-sm edit">
                                                        <i class="fas fa-edit"></i>
                                                    </a> ||*@
                                                <a href="/KinhDoanh/XoaDH/@item.MaDH" class="btn btn-primary btn-sm trash">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a> ||
                                                <a href="/KinhDoanh/DanhSachCTDH/@item.MaDH" class="btn btn-primary btn-sm edit">
                                                    <i class="fas fa-train"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Form thêm thông mới đơn hàng-->
<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="btnadd" action="/KinhDoanh/ThemDH02" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Thêm mới đơn hàng cho đại lý</h5>
                            </span>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Chọn mã đại lý</label>
                            <select class="form-control" name="MaDL" required>
                                <option selected disabled>-----Vui lòng chọn------</option>
                                @{ foreach (var item01 in dsdl)
                                    {
                                        <option value="@item01.MaDL">@item01.MaDL</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Địa điểm giao hàng</label>
                            <textarea class="form-control" type="text" name="DiemGiao" required></textarea>
                        </div>
                        <div class="form-group col-md-12 " style="text-align:center">
                            <label style="font-size:20px" class="control-label">-------------THÔNG TIN HÓA ĐƠN--------------</label>

                        </div>
                        <div id="themdong" class="row" style="margin-left:4px">
                            @*<div class="form-group col-md-12">
                                    <label class="control-label">Tên sản phẩm</label>
                                    <select class="form-control" name="MaSP" required>
                                        <option>-----Vui lòng chọn sản phẩm------</option>
                                        @{ foreach (var item01 in dssp)
                                            {
                                                <option value="@item01.MaSP">@item01.MaSP</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">Nhập số lượng :</label>
                                    <input class="form-check" type="number" name="SoLuong" value="true" id="SoLuong" required />
                                </div>*@
                        </div>
                    </div>
                </div>
                <div style="text-align:center" class="modal-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <input class="btn btn-add" id="themsp" type="button" name="DiemGiao" value="Thêm SP" onclick="themSP()" required />
                        </div>
                        <div class="col-lg-2">
                            <input class="btn btn-cancel" id="xoasp" type="button" name="DiemGiao" disabled value="Xóa SP" onclick="xoaSP()" required />
                        </div>
                        <div class="col-lg-5">
                            <button class="btn btn-save" style="margin-left:15px" type="submit">Thêm mới đơn hàng</button>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    var i = 0;
    function themSP() {
        if (i >= 3) {
            $("#themsp").attr("disabled", "disabled");
        }
        else {
            i++;
            var row = '<div class="row" id="nd'+i+'">'+ '<div class="form-group col-md-8 ">'+
    '<label class="control-label">Tên sản phẩm</label>' +
                ' <select class="form-control" name="MaSP' + i +'" required>' +
    '<option selected disabled>---------------Vui lòng chọn sản phẩm-------------</option>' +
    '@{ foreach (var item01 in dssp) {<option value="@item01.MaSP">@item01.MaSP - @item01.TenSP - SL: @item01.TongTon</option> } }' +
    '</select>' + '</div>' +
    '<div class="form-group col-md-3">' +
    '<label class="control-label">Số lượng:</label>' +
    '<input class="form-control" type="number" name="SoLuong'+i+'" value="true" id="SoLuong" required />' +
                '</div>' +'</div>';
            $("#xoasp").prop('disabled', false);
            document.getElementById("themdong").innerHTML += row;

            console.log(i);
            $("#btnadd").attr("action", "/KinhDoanh/ThemDH02/" + i);
        };

    }
    function xoaSP() {

        if (i > 0) {
            $("#themsp").prop('disabled', false);
            document.getElementById('nd'+i).remove();
            i--;
            console.log(i);
            $("#btnadd").attr("action", "/KinhDoanh/ThemDH02/" + i);
        } else if (i = 0) {
            $("#xoasp").attr("disabled", "disabled");
        };
    }
    function resetpage() {
        i = 0;
        $("#themsp").prop("disabled",false);
        var resetp = '';
        document.getElementById("themdong").innerHTML=resetp;
    };
</script>
<script>
    let button = document.querySelector("#button-excel");

    button.addEventListener("click", e => {
        let table = document.querySelector("#sampleTable");
        TableToExcel.convert(table);
    });
</script>
@* '<div class="form-group col-md-12">' +
    '<label class="control-label">Tên sản phẩm</label>' +
    ' <select class="form-control" name="MaSP" required>' +
    '<option>-----Vui lòng chọn sản phẩm------</option>' +
    '@{ foreach (var item01 in dssp) {<option value="@item01.MaSP">@item01.MaSP</option> } }' +
    '</select>' + '</div>' +
    '<div class="form-group col-md-12">' +
    '<label class="control-label">Nhập số lượng :</label>' +
    '<input class="form-check" type="number" name="SoLuong" value="true" id="SoLuong" required />' +
    '/<div>'; *@
@section script{


}