@model IEnumerable<Test02.Models.SanPham>
@{
    ViewBag.Title = "QuanLySP";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.sp = "active";
    ViewBag.nd = "Danh sách sản phẩm";
    ViewBag.hieuung5 = "bx-tada";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "Đã thêm mới sản phẩm")
    {
        <script>
            swal({
                title: "Thêm sản phẩm thành công",
                text: "Mã sản phẩm @TempData["maspTT"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "Đã xóa sản phẩm")
    {
        <script>
            swal({
                title: "Xóa sản phẩm thành công",
                text: "Mã sản phẩm @TempData["maspTT"] đã được xóa khỏi danh sách !",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "Đã cập nhật sản phẩm")
    {
        <script>
            swal({
                title: "Cập nhật sản phẩm thành công",
                text: "Mã sản phẩm @TempData["maspTT"] đã được cập nhật !",
                icon: "success",
                button: "OK",
            });
        </script>
    };
}

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Quản lý sản phẩm</h3>
        <div class="row element-button">
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm nhap-tu-file" href="~/KinhDoanh/ThemSP"><i class="fas fa-file-upload"></i> Thêm mới sản phẩm</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
                    <i class="fas fa-print"></i> In dữ liệu
                </a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="~/KinhDoanh/QuanLySP"><i class="fas fa-copy"></i> Làm mới danh sách</a>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                   id="sampleTable">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                        <th>Đơn vị tính</th>
                        <th>Ngày sản xuất</th>
                        <th>Hạn sử dụng</th>
                        <th>Tổng tồn</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSP)
                            </td>
                            <td>
                                <img height="150" width="400" src="@item.HinhAnh" style="width:100px" />
                            </td>
                            <td>
                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.Gia);}
                                @Html.DisplayFor(modelItem => ThanhTien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonViTinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgaySX)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HanSD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TongTon)
                            </td>

                            <td>
                                <a href="/KinhDoanh/ChinhSuaSP/@item.MaSP" class="btn btn-primary btn-sm edit"> Chỉnh sửa</a>

                                ||
                                <a href="/KinhDoanh/XoaSP/@item.MaSP" class="btn btn-primary btn-sm deleted">
                                    Xóa sản phẩm
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>

    </div>
</div>

<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
</script>
<!-- Essential javascripts for application to work-->
<!--<script src="~/Content/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<script src="~/Content/js/main.js"></script>-->
<!-- The javascript plugin to display page loading on top-->
<!--<script src="~/Content/js/plugins/pace.min.js"></script>-->
<!-- Page specific javascripts-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>-->
<!-- Data table plugin-->
<!--<script type="text/javascript" src="~/Content/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Content/js/plugins/dataTables.bootstrap.min.js"></script>-->
