@model IEnumerable<Test02.Models.DaiLy>
@using Test02.Models
@{
    ViewBag.Title = "QuanLyDL";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.dl = "active";
    ViewBag.nd = "Danh sách đại lý";
    QuanLyDLEntities2 database = new QuanLyDLEntities2();
    List<LoaiDL> LoaiDL = database.LoaiDLs.ToList();
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    var madl = (string)TempData["TenDLthem"];
    if (checkmess == "Đã thêm mới")
    {
        <script>
            swal({
                title: "Thêm đại lý thành công",
                text: "Đại lý @TempData["TenDLthem"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    };
}

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Tình trạng đơn hàng</h3>
        <div class="row element-button">
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm nhap-tu-file" href="~/KinhDoanh/ThemDL"><i class="fas fa-file-upload"></i> Thêm mới hồ sơ</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
                    <i class="fas fa-print"></i> In dữ liệu
                </a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="~/KinhDoanh/QuanLyDL"><i class="fas fa-copy"></i> Làm mới danh sách</a>
            </div>

        </div>
        <div>
            <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                   id="sampleTable">
                <thead>
                    <tr>
                        <th>Mã đại lý</th>
                        <th>Tên đại lý</th>
                        <th>Loại đại lý</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ email</th>
                        <th>Ngày tiếp nhận</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDL)
                            </td>
                            <td>
                                @{var tenldk = database.LoaiDLs.Find(item.MaLoaiDL);
                                }
                                @Html.DisplayFor(modelItem => tenldk.TenDaiLy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                <a href="/KinhDoanh/ChinhSuaDL/@item.MaDL" class="btn btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="/KinhDoanh/Delete/@item.MaDL" class="btn btn-primary btn-sm deleted">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- / div trống-->
    </div>
</div>



<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=800px,width=1200px');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });

</script>