@model IEnumerable<Test02.Models.SanPham>
@{
    ViewBag.Title = "QuanLySP";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.sp = "active";
    ViewBag.nd = "Danh sách sản phẩm";
}
<p>
    @Html.ActionLink("Create New", "ThemSP")
</p>
<table class="table">
    <tr>
        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="ID nhân viên: activate to sort column ascending" style="width: 80px;">
            Mã Sản phẩm
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HanSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanSD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <a href="/KinhDoanh/ChinhSuaSP/@item.MaSP" class="btn btn-primary btn-sm edit">
                    Chỉnh sửa
                </a> ||
                <a href="/KinhDoanh/XoaSP/@item.MaSP" class="btn btn-primary btn-sm deleted">
                    Xóa sản phẩm
                </a>
            </td>
        </tr>
    }

</table>
