@model IEnumerable<Test02.Models.DaiLy>
@using Test02.Models
@{
    ViewBag.Title = "QuanLyDL";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.dl = "active";
    ViewBag.nd = "Danh sách đại lý";
    ViewBag.hieuung2 = "bx-tada";
    QuanLyDLproEntities2 database = new QuanLyDLproEntities2();
    List<LoaiDL> LoaiDL = database.LoaiDLs.ToList();
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Content/js/tableToExcel.js"></script> <!--Xuất file Excel-->
<!--Modal-->

@{
    var checkmess = (string)TempData["messageAlert"];
    var madl = (string)TempData["TenDLthem"];
    if (checkmess == "Đã thêm mới")
    {
        <script>
            swal({
                title: "Thêm đại lý thành công",
                text: "Đại lý @TempData["TenDLthem"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    };
}

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Tình trạng đại lý</h3>
        <div class="row element-button">
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm nhap-tu-file" @*data-toggle="modal" data-target="#myModal"*@ href="/KinhDoanh/ThemDL"><i class="fas fa-file-upload"></i> Thêm mới hồ sơ</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
                    <i class="fas fa-print"></i> In dữ liệu
                </a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép" href="~/KinhDoanh/QuanLyDL"><i class="fas fa-copy"></i> Làm mới danh sách</a>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-excel btn-sm" id="button-excel" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</button>
            </div>
        </div>
        <div class="table-responsive" >
            <table data-cols-width="20,20,20,40,20,20,20" class="table table-hover table-bordered js-copytextarea " cellpadding="0" cellspacing="0" border="0"
                   id="sampleTable">
                <thead>
                    <tr>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Mã đại lý</th>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Loại đại lý</th>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Tên đại lý</th>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Địa chỉ</th>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Số điện thoại</th>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Địa chỉ email</th>
                        <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Ngày tiếp nhận</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-b-a-s="thin">
                                @Html.DisplayFor(modelItem => item.MaDL)
                            </td>
                            <td data-b-a-s="thin">
                                @{var tenldk = database.LoaiDLs.Find(item.MaLoaiDL);
                                }
                                @Html.DisplayFor(modelItem => tenldk.TenDaiLy)
                            </td>
                            <td data-b-a-s="thin">
                                @Html.DisplayFor(modelItem => item.TenDL)
                            </td>
                            <td data-b-a-s="thin">
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td data-b-a-s="thin">
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td data-b-a-s="thin">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td data-b-a-s="thin">
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                <a href="/KinhDoanh/ChinhSuaDL/@item.MaDL" class="btn btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="/KinhDoanh/Delete/@item.MaDL" class="btn btn-primary btn-sm deleted">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- / div trống-->
    </div>
</div>


<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=800px,width=1200px');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });

</script>
<script>
    let button = document.querySelector("#button-excel");

    button.addEventListener("click", e => {
        let table = document.querySelector("#sampleTable");
        TableToExcel.convert(table);
    });
</script>