@model Test02.Models.ChiTietDonHang
@using Test02.Models
@{
    ViewBag.Title = "ThemCTHD";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.dh = "active";
    ViewBag.nd = "Thêm chi tiết đơn hàng";
}

<div class="tile">
        <h3 class="tile-title">Nhập chi tiết đơn hàng </h3>
        <div class="tile-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Tạo đơn hàng</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaCTDH)
                    @Html.HiddenFor(model => model.MaDH)
                    <div class="form-group">
                        <label class="control-label col-md-2" for="MaSP">Tên sản phẩm</label>
                        @Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="SoLuong">Nhập số lượng</label>
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm đơn hàng" class="btn btn-default" /> @*||
                        <a class="btn btn-success" href="@Url.Action("DatThemCTDH", "KinhDoanh")"> Đặt thêm sản phẩm</a>*@
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        @Html.ActionLink("Quay lại danh sách đơn hàng", "QuanLyDH")
    </div>