@model Test02.Models.DaiLy
@using Test02.Models
@{
    ViewBag.Title = "Thêm đại lý";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.nd = "Thêm mới đại lý";
    ViewBag.dl = "active";
    ViewBag.hieuung2 = "bx-tada";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "Đã thêm mới loại đại lý")
    {
        <script>
            swal({
                title: "Thêm loại đại lý thành công",
                text: "Loại đại lý đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    };
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Tạo mới đại lý</h3>
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#myModal01">
                            <b>
                                <i class="fas fa-folder-plus"></i> Tạo loại đại lý
                            </b>
                        </a>
                    </div>
                </div>
                <form class="row" action="~/KinhDoanh/ThemDL" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-md-2">
                        <label class="control-label" for="MaLoaiDL">Mã loại đại lý</label>
                        <select class="form-control" id="MaLoaiDL" name="MaLoaiDL" required>
                            <option selected="selected" disabled>------Chọn-------</option>
                            @{
                                var dsdl = db.LoaiDLs.ToList();
                                foreach (var item in dsdl)
                                {
                                    <option value="@item.MaLoaiDL">@item.TenDaiLy</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.MaLoaiDL, "", new { @class = "text-danger" })
                    </div>
                    <!--Cho thông tin tài khoảng UserName và Password tự động sinh ra và gửi Email-->
                    @*<div class="form-group col-md-4">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>*@
                    <div class="form-group  col-md-2">
                        <label class="control-label" for="MaLoaiDL">Tên đại lý</label>
                        <input class="form-control text-box single-line" id="TenDL" name="TenDL" required type="text">
                        <p style="color:red ;font-weight:bold" id="Error" hidden>Đang kiểm tra tên đại lý ....</p>
                        @Html.ValidationMessageFor(model => model.TenDL, "", new { @class = "text-danger" })
                        <div id="mess"></div>
                    </div>
                    <div class="form-group  col-md-3">
                        <label class="control-label" for="MaLoaiDL">UserName</label>
                        <input class="form-control text-box single-line" id="UserName" name="UserName" required type="text">
                        <p style="color:red ;font-weight:bold" id="Error03" hidden>Đang kiểm tra UserName ....</p>
                        @Html.ValidationMessageFor(model => model.TenDL, "", new { @class = "text-danger" })
                        <div id="mess03"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="SDT">Số điện thoại</label>
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", type = "number", required = "true", id = "SDT", min = 0 } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        <p style="color:red ;font-weight:bold" id="Error01" hidden>Đang kiểm tra thông tin số điện thoại ....</p>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label" for="DiaChi">Địa chỉ</label>
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", type = "text", required = "true" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="Email">Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+[a-z]{2,}$", required = "true", id = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <p style="color:red ;font-weight:bold" id="Error02" hidden>Đang kiểm tra thông tin email ....</p>
                    </div>
                    <div class="form-group col-md-10">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" value="Thêm mới đại lý" class="btn btn-save" id="ArlertMessage" />
                        </div>
                    </div>

                </form>

            </div>
            <div>
                @Html.ActionLink("Quay lại danh sách đại lý", "QuanLyDL")
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="~/KinhDoanh/ThemLDL" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Tạo loại đại lý mới</h5>
                            </span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập loại đại lý</label>
                            <input class="form-control text-box single-line" id="TenDaiLy" name="TenDaiLy" type="text" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập chiết khấu</label>
                            <input class="form-control" id="ChietKhau" name="ChietKhau" type="text" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Thêm mới loại đại lý" class="btn btn-save" />
                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                            <BR>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section script{

    <script>
        //Kiểm tra nội dung thêm mới đại lý
        $(document).ready(function () {
            $("#TenDL").on("input", function () {
                $("#Error").prop("hidden", false);

                var input = $("#TenDL").val();
                if (input.length > 0) {
                    var model = {
                        TenDL: input
                    };
                    //Tạo Ajax để kiểm tra nội dung nhập
                    $.ajax({
                        url: '/KinhDoanh/KTTenDL',
                        type: 'POST',
                        dataType: "json",
                        data: model,
                        success: function (res) {
                            if (res.success == true) {
                                $("#Error").html('Tên đại lý hợp lệ !');
                                $('#Error').attr('style', 'color:green');
                            }
                            else {
                                $("#Error").html('Tên đại lý không hợp lệ hoặc đã được sử dụng !');
                                $('#Error').attr('style', 'color:red');
                            }
                        }
                    });
                } else {
                    $("#Error").html('Vui lòng nhập !');
                }

            });
            $("#SDT").on("input", function () {
                $("#Error01").prop("hidden", false);
                var input = $("#SDT").val();
                if (input.length > 0 && input.length == 10) {
                    var model = {
                        SDT: input
                    };
                    //Tạo Ajax để kiểm tra nội dung nhập
                    $.ajax({
                        url: '/KinhDoanh/KTSDT',
                        type: 'POST',
                        dataType: "json",
                        data: model,
                        success: function (res) {
                            if (res.success == true) {
                                $("#Error01").html('Số điện thoại này hợp lệ !');
                                $('#Error01').attr('style','color:green')
                            }
                            else {
                                $("#Error01").html('Số điện thoại không hợp lệ hoặc đã được sử dụng !');
                                $('#Error01').attr('style', 'color:red')
                            }
                        }
                    });
                } else if (input.length < 10) {
                    $("#Error01").html('Số điện thoại nhập đủ 10 số !');
                } else if (input.length == 0) {
                    $("#Error01").html('Vui lòng nhập số điện thoại !');
                };
            });
            $("#Email").on("input", function () {
                $("#Error02").prop("hidden", false);
                $("#Error02").html('Đang kiểm tra email...');
                var input = $("#Email").val();
                if (input.length > 0) {
                    if (input.indexOf("@@") > 0) {

                    }
                    else {
                        $("#Error02").html('Vui lòng nhập đúng định dạng Email !');
                    }
                    var model = {
                        Email: input
                    };
                    //Tạo Ajax để kiểm tra nội dung nhập
                    
                    $.ajax({
                        url: '/KinhDoanh/KTEmail',
                        type: 'POST',
                        dataType: "json",
                        data: model,
                        success: function (res) {
                            if (res.success == true) {
                                $("#Error02").html('Email này có thể sử dụng !');
                                $('#Error02').attr('style', 'color:green');
                            }
                            else if (res.success == false) {
                                $("#Error02").html('Email này không hợp lệ hoặc đã được sử dụng !');
                                $('#Error02').attr('style', 'color:red');
                            } else if (res.faile == false) {
                                $("#Error02").html('Vui lòng nhập đúng định dạng Email !');
                                $('#Error02').attr('style', 'color:red');
                            }
                        }
                    });
                }
                else {
                    $("#Error02").html('Vui lòng nhập đúng định dạng Email !');
                    $('#Error02').attr('style', 'color:red');
                };
            });
        });
    </script>

}
