@model Test02.Models.DaiLy
@using Test02.Models
@{
    ViewBag.Title = "Thêm đại lý";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.nd = "Thêm mới đại lý";
    ViewBag.dl = "active";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "Đã thêm mới loại đại lý")
    {
        <script>
            swal({
                title: "Thêm loại đại lý thành công",
                text: "Loại đại lý đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    };
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Tạo mới đại lý</h3>
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#myModal01">
                            <b>
                                <i class="fas fa-folder-plus"></i> Tạo loại đại lý
                            </b>
                        </a>
                    </div>
                </div>
                <form class="row" action="~/KinhDoanh/ThemDL" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-md-2">
                        <label class="control-label" for="MaLoaiDL">Mã loại đại lý</label>
                        <select class="form-control" id="MaLoaiDL" name="MaLoaiDL" required>
                            <option selected="selected" disabled>------Chọn-------</option>
                            @{
                                var dsdl = db.LoaiDLs.ToList();
                                foreach (var item in dsdl)
                                {
                                    <option value="@item.MaLoaiDL">@item.TenDaiLy</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.MaLoaiDL, "", new { @class = "text-danger" })
                    </div>
                    <!--Cho thông tin tài khoảng UserName và Password tự động sinh ra và gửi Email-->
                    @*<div class="form-group col-md-4">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>*@
                    <div class="form-group  col-md-4">
                        <label class="control-label" for="MaLoaiDL">Tên đại lý</label>
                        <input class="form-control text-box single-line" id="TenDL" name="TenDL" required="true" type="text" value="">
                        @Html.ValidationMessageFor(model => model.TenDL, "", new { @class = "text-danger" })
                        <div id="mess"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="MaLoaiDL">Số điện thoại</label>
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", type = "number", required = "true" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label" for="MaLoaiDL">Địa chỉ</label>
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", type = "text", required = "true" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="MaLoaiDL">Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", required = "true" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-10">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" value="Thêm mới đại lý" class="btn btn-save" id="ArlertMessage" />
                        </div>
                    </div>

                </form>

            </div>
            <div>
                @Html.ActionLink("Quay lại danh sách đại lý", "QuanLyDL")
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="~/KinhDoanh/ThemLDL" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <span class="thong-tin-thanh-toan">
                                <h5>Tạo loại đại lý mới</h5>
                            </span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập loại đại lý</label>
                            <input class="form-control text-box single-line" id="TenDaiLy" name="TenDaiLy" type="text" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập chiết khấu</label>
                            <input class="form-control" id="ChietKhau" name="ChietKhau" type="text" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Thêm mới loại đại lý" class="btn btn-save" />
                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                            <BR>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

