@using Test02.Models;
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.home = "active";
    ViewBag.nd = "Bảng điều khiển";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    var dsdonhang = db.DonHangs.ToList();
    var dsdl = db.DaiLies.ToList();
}

<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Tình trạng đơn hàng</h3>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID đơn hàng</th>
                        <th>Mã đại lý</th>
                        <th>Mã nhân viên lập</th>
                        <th>Ngày lập </th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Địa điểm giao hàng</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in dsdonhang.OrderByDescending(s=>s.NgayLap))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaDL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNVLap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayLap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiemGiao)
                            </td>
                            <td>
                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.TongTien);}
                                @Html.DisplayFor(modelItem => ThanhTien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- / div trống-->
    </div>
</div>
<!-- / col-12 -->
<!-- col-12 -->
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Danh sách đại lý mới</h3>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã đại lý</th>
                        <th>Loại đại lý</th>
                        <th>Tên đại lý</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ email</th>
                        <th>Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in dsdl.OrderByDescending(s => s.NgayTao))
                    {
                        <tr>
                            <td style="width: 150px;">
                                @Html.DisplayFor(modelItem => item.MaDL)
                            </td>
                            <td>
                                @{var tenldk = db.LoaiDLs.Find(item.MaLoaiDL);
                                }
                                @Html.DisplayFor(modelItem => tenldk.TenDaiLy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDL)
                            </td>
                            <td style="width:250px;">
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>

