@model Test02.Models.SanPham

@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
    ViewBag.sp = "active";
    ViewBag.nd = "Xóa sản phẩm";
}

<h3>Bạn có chắc chắn muốn xóa sản phẩm này ?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HanSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HanSD)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa sản phẩm" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách sản phẩm", "QuanLySP")
        </div>
    }
</div>
