@model Test02.Models.SanPham

@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
}

<h2>XoaSP</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HanSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HanSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "QuanLySP")
        </div>
    }
</div>
