@model Test02.Models.DonHang
@using Test02.Models;

@{
    ViewBag.Title = "ChinhsuaHD";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    ViewBag.qlhd = "active";
    ViewBag.nd = "Chỉnh sửa hóa đơn";


}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 style="text-align:center">HÓA ĐƠN BÁN HÀNG</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="row" style="padding:20px;">
                        @{ var mahd = db.HoaDons.Where(s => s.MaDH == Model.MaDH).FirstOrDefault();
                        }
                        <div class="col-sm-4">
                            <p><strong>Mã đơn hàng:</strong> @Html.DisplayFor(model => model.MaDH)</p>
                        </div>
                        <div class="col-sm-4">
                            <p><strong>Mã đại lý:</strong> @Html.DisplayFor(model => model.MaDL)</p>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <p>
                                <strong>Tên đại lý:</strong> @{ var madh = db.DaiLies.Where(s => s.MaDL == Model.MaDL).FirstOrDefault();
                                }
                                @Html.DisplayFor(model => madh.TenDL)
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <strong>Loại đại lý:</strong>
                                @Html.DisplayFor(model => madh.MaLoaiDL)
                            </p>
                        </div>
                        <div class="col-sm-4">

                            <p><strong>Địa diểm giao:</strong>@Html.DisplayFor(model => model.DiemGiao)</p>

                        </div>
                        <div class="col-sm-4">

                            <p><strong>Trạng thái đơn hàng:</strong>@Html.DisplayFor(model => model.TrangThai)</p>

                        </div>

                        <div class="col-sm-4">
                            <p>
                                <strong>Tổng đơn hàng:</strong> @{ var ThanhTien = string.Format("{0:0,0 vnđ}", Model.TongTien);}
                                @Html.DisplayFor(modelItem => ThanhTien)
                            </p>

                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <strong>Tình trạng thanh toán:</strong>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <select class="form-control" id="TinhTrangThanhToan" name="TinhTrangThanhToan">
                                            <option selected="@Model.TinhTrangThanhToan">@Model.TinhTrangThanhToan</option>
                                            <option>Chưa thanh toán</option>
                                            <option>Đã thanh toán</option>
                                            <option>Đang nợ</option>
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.TinhTrangThanhToan, "", new { @class = "text-danger" })

                                </div>
                            </p>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NgayLap, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field NgayXuat must be a date." id="NgaySX" name="NgaySX" type="datetime-local" value="">
                                    @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaDH)
                    @Html.HiddenFor(model => model.MaDL)
                    @Html.HiddenFor(model => model.MaNVLap)

                    @Html.HiddenFor(model => model.TrangThai)
                    @Html.HiddenFor(model => model.DiemGiao)
                    @Html.HiddenFor(model => model.TongTien)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Chỉnh sửa" class="btn btn-info" />
                        </div>
                    </div>
                </div>

            }


        </div>
        <div>
            @Html.ActionLink("Quay lại danh sách hóa đơn", "QLDonHang")
        </div>
    </div>
</div>



