@model Test02.Models.DonHang
@using Test02.Models;

@{
    ViewBag.Title = "ChinhsuaHD";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.qlhd = "active";
    ViewBag.nd = "Danh sách đơn hàng đã xét duyệt";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ctdh = db.ChiTietDonHangs.ToList();
}

<link href="~/Content/ketoan.css" rel="stylesheet" />
<div class="tile">
    <h3 class="tile-title">CHỈNH SỬA THÔNG TIN HÓA ĐƠN</h3>
    <div class="tile-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.HiddenFor(model => model.MaDH)
            @Html.HiddenFor(model => model.MaDL)
            @Html.HiddenFor(model => model.MaNVLap)
            @Html.HiddenFor(model => model.NgayLap)
            @Html.HiddenFor(model => model.TrangThai)
            @Html.HiddenFor(model => model.DiemGiao)
            @Html.HiddenFor(model => model.TongTien)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3> THÔNG TIN HÓA ĐƠN</h3>


            <div class="title-hd">
                <P><strong>Mã đơn hàng:</strong>@Html.DisplayFor(modelItem => Model.MaDH)</P>
                <p>
                    <strong>Ngày lập:</strong> @{ var ngay = String.Format("{0:d/M/yyyy}", Model.NgayLap); ;}
                    @Html.DisplayFor(modelItem => ngay)
                </p>
            </div>
            <table>
                <tr>
                    <th>THÔNG TIN</th>
                    <th>ĐỊA CHỈ GIAO</th>
                </tr>
                <tr>
                    <td>
                        <strong>Tên đại lý:</strong>
                        @{
                            var dl = db.DaiLies.Where(s => s.MaDL == Model.MaDL).FirstOrDefault();
                            var nv = db.NhanViens.Where(n => n.MaNV == Model.MaNVLap).FirstOrDefault();


                        }@Html.DisplayFor(modelItem => dl.TenDL)
                    </td>
                    <td rowspan="4">
                        @Html.DisplayFor(modelItem => Model.DiemGiao)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Điện thoại: </strong> @Html.DisplayFor(modelItem => dl.SDT)
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>Nhân viên phụ trách</strong>: @Html.DisplayFor(modelItem => Model.MaNVLap) -  @Html.DisplayFor(modelItem => nv.TenNV)
                    </td>


                </tr>
                <tr>
                    <td>
                        <strong>Tổng hóa đơn :</strong>    @Html.DisplayFor(modelItem => Model.TongTien)
                    </td>


                </tr>
            </table>



            <div class="row" style="padding-top:10px;">

                <div class="form-group col-sm-6">
                    <strong>Tình trạng thanh toán</strong>
                    <div class="col-md-10">
                        <select class="form-control" id="TinhTrangThanhToan" name="TinhTrangThanhToan">
                            <option selected="@Model.TinhTrangThanhToan">@Model.TinhTrangThanhToan</option>
                            <option>Đã thanh toán</option>
                            <option>Chưa thanh toán</option>
                            <option>Đang nợ</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.TinhTrangThanhToan, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu thay đổi" class="btn btn-success btn-sm" />
                </div>
            </div>











        </div>
        }

    </div>
</div>
        <div>
            @Html.ActionLink("Quay lại danh sách", "QLDonHang")
        </div>
