@model Test02.Models.PhieuCongNo

@{
    ViewBag.Title = "ChinhsuCN";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 style="align-content:center">Phiếu Công nợ @Model.MaCongNo</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.MaCongNo)
                    @Html.HiddenFor(model => model.MaDL)


                    <div class="form-group">
                        @Html.LabelFor(model => model.TienNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TienNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TienNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HanTra, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HanTra, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HanTra, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control" id="TrangThai" name="TrangThai">
                                <option selected="@Model.TrangThai">@Model.TrangThai</option>
                                <option>Chưa thanh toán</option>
                                <option>Đã Thanh toán</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Quay lại danh sách công nợ", "QLCongno")
            </div>
</div>
</div>
</div>