@model IEnumerable<Test02.Models.DonHang>
@using Test02.Models;

@{
    ViewBag.Title = "CongnoDL";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    ViewBag.dsdl = "active";
    ViewBag.nd = "Danh sách đơn hàng chưa thanh toán";
    var check = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    @foreach (var i in Model)
                    {
                        <h3>DANH SÁCH ĐƠN HÀNG CHƯA THANH TOÁN CỦA ĐẠI LÝ @i.MaDL</h3>
                        <p><strong>Mã đại lý:</strong> @Html.DisplayFor(modelItem => i.MaDL)</p>
                        <p>
                            <strong>Mã đại lý:</strong>
                            @{
                                var dh = db.DaiLies.Where(s => s.MaDL == i.MaDL).FirstOrDefault();
                            }
                            @Html.DisplayFor(modelItem => dh.TenDL)
                        </p>
                        break;
                    }



                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="ID nhân viên: activate to sort column ascending" style="width: 100px;">Mã đơn hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="SĐT: activate to sort column ascending" style="width: 100px;">Mã nhân viên lập</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Địa chỉ: activate to sort column ascending" style="width: 100px;">Ngày lập</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Địa chỉ: activate to sort column ascending" style="width: 100px;">Điểm giao hàng</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tính năng: activate to sort column ascending" style="width: 100px;">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var id = "";

                                        var total = 0;
                                        
                                        }
                                    @foreach (var item in Model)
                                    {
                                        id = item.MaDL;
                                        if (item.TinhTrangThanhToan == "Chưa thanh toán" && item.TrangThai == "Đã xét duyệt")
                                        {


                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaDH)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaNVLap)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgayLap)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiemGiao)
                                                </td>
                                                <td>
                                                    @{ total += Convert.ToInt32(item.TongTien);
                                                        check = total;}
                                                    @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.TongTien);}
                                                    @Html.DisplayFor(modelItem => ThanhTien)

                                                </td>
                                            </tr>
                                        }


                                    }
                                    <tr>
                                        <th colspan="4">Tổng cộng hóa đơn :</th>
                                        @{ var TongCong = string.Format("{0:0,0 vnđ}", total);

                                            }
                                        <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                    </tr>
                                </tbody>


                            </table>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row element-button">
            @{
                if (check == 0)
                {
                    <div class="col-sm-2">
                        <a class="btn btn-warning btn-sm " type="button" title="Quay lại" href="~/KeToan/DSDaiLy"><i class="fas fa-copy"></i> Quay lại</a>
                    </div>
                    
                }
                else
                {
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm nhap-tu-file" href="~/KeToan/TaoCongno/@id"><i class="fas fa-file-upload"></i> Thêm phiếu công nợ</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-warning btn-sm " type="button" title="Quay lại" href="~/KeToan/DSDaiLy"><i class="fas fa-copy"></i> Quay lại</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                            <i class="fas fa-print"></i> In dữ liệu
                        </a>
                    </div>
                }
            }


        </div>
    </div>

</div>

<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var top = document.getElementById('sampleTable_wrapper');
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(top.outerHTML);
            win.document.close();
            win.print();

        }
    }
</script>