@model IEnumerable<Test02.Models.DonHang>

@{
    ViewBag.Title = "Doanh thu";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.dthu = "active";
    ViewBag.nd = "Báo cáo doanh thu";
}

<div class="row">
    <div class="col-md-12 container-fluid">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button" style="padding-left:10px">
                    <div class="col-sm-2">
                        <a class="btn btn-outline-dark btn-sm" type="button" title="In" onclick="printDiv('printme')">
                            <i class="fas fa-print"></i> In dữ liệu
                        </a>
                    </div>
                    <div class="col-sm-6">
                     @using (Html.BeginForm("Doanhthu", "KeToan", FormMethod.Post, new { @class = "form-group-sm" }))
                     {

                @Html.DropDownList("thangs", (IEnumerable<SelectListItem>)TempData["thangs"], htmlAttributes: new { @class = "form-control-sm" ,})
                <input type="submit" class="btn btn-danger btn-sm" value="Tìm theo tháng">


                     }
                    </div>
                </div>

                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    @*<div class="row">
                        <div class="col-md-1">
                            <div id="sampleTable_filter" class="dataTables_filter">
                                <label>Tìm kiếm:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable"></label>
                            </div>
                        </div>
                    </div>*@
                    <div class="row" id="printme">
                        <div class="col-sm-12  table-responsive">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã đơn hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã đại lý</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã nhân viên lập</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable">Ngày lập</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable">Điểm giao hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var total = 0;}
                                    @foreach (var item in Model)
                                    {
                     
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaDH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaDL)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaNVLap)
                                        </td>
                                        @{ var ngay = String.Format("{0:d/M/yyyy}", item.NgayLap);}
                                        <td>
                                            @Html.DisplayFor(modelItem => ngay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiemGiao)
                                        </td>
                                        <td>
                                            @{ total += Convert.ToInt32(item.TongTien);}
                                            @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.TongTien);}
                                            @Html.DisplayFor(modelItem => ThanhTien)

                                        </td>
                                    </tr>

                                                            

                                                        }
                                        <tr>
                                           
                                            <th colspan="5">Tổng cộng hóa đơn :</th>
                                            @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                            <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //In dữ liệu
    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;


    }
</script>