@model IEnumerable<Test02.Models.DaiLy>
@using Test02.Models
@{
    ViewBag.Title = "Danh sách đại lý";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.dsdl = "active";
    ViewBag.nd = "Danh sách đại lý";
    QuanLyDLproEntities2 database = new QuanLyDLproEntities2();

}
<link href="~/Content/KeToan/badges.css" rel="stylesheet" />
@{
    if (TempData["taocn"] != null)
    {
        <script>
            swal({
                title: "Tạo phiếu công nợ thành công !!!!",
                icon: "success",
                button: "Thoát",
            });

        </script>

    }
    if (TempData["xoacn"] != null)
    {
        <script>
            swal({
                title: "Xóa phiếu công nợ thành công !!!!",
                icon: "success",
                button: "Thoát",
            });

        </script>

    }
    if (TempData["chinhsuacn"] != null)
    {
        <script>
            swal({
                title: "Chỉnh sửa phiếu công nợ thành công !!!!",
                icon: "success",
                button: "Thoát",
            });

        </script>

    }
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="btnin">
                    <div class="col-sm-2">
                        <a class="btn btn-outline-dark btn-sm" title="In" onclick="printDiv('printme')">
                            <i class="fas fa-print"></i> In dữ liệu
                        </a>
                    </div>
                </div>
                <div class="row" id="printme">
                    <div class="col-sm-12  table-responsive">
                        <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid">
                            @*//Phần render từng dòng trong C#*@
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Mã DL</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Đại lý</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Tổng công nợ</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Trạng thái</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable">Tổng doanh số</th>
                                    <th class="sorting" tabindex="0" style="width: 100px;">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaDL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenDL)
                                        <br />
                                        @{var tenldk = database.LoaiDLs.Find(item.MaLoaiDL);
                                        }
                                        @Html.DisplayFor(modelItem => tenldk.TenDaiLy)  @Html.DisplayFor(modelItem => item.MaLoaiDL)

                                    </td>

                                    <td>
                                        @{
                                            double? tn = database.sp_SumCN(item.MaDL).FirstOrDefault();
                                            var tiencongnno = string.Format("{0:0,0 vnđ}", tn);
                                        }

                                        @Html.DisplayFor(modelItem => tiencongnno)

                                    </td>
                                    @{
                                        int? tongdonhang = database.sp_SoDHDaiLy(item.MaDL).FirstOrDefault();
                                        int? sophieu = database.sp_CountCN(item.MaDL).FirstOrDefault();
                                        double maxcn = 0;


                                        if (item.MaLoaiDL == "LDL01")
                                        {
                                            maxcn = 500000000;
                                        }
                                        else if (item.MaLoaiDL == "LDL02")
                                        {
                                            maxcn = 250000000;
                                        }
                                        else
                                        {
                                            maxcn = 100000000;

                                        }
                                        double dangercn = maxcn - (maxcn * 0.1);
                                        double warningcn = maxcn - (maxcn * 0.3);
                                    }
                                    <td>

                                        @if (tn > dangercn)
                                        {
                                            <span class="badge badge-danger">Nguy cơ</span>
                                        }
                                        else if (tn >= warningcn && tn <= dangercn)
                                        {
                                            <span class="badge badge-warning">Cảnh báo</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">Bình thường</span>
                                        }
                                    </td>
                                    <td>
                                       @{ 
                                           var doanhso = string.Format("{0:0,0 vnđ}", item.TongDoanhSo);
                                       }
                                        @Html.DisplayFor(modelItem =>doanhso)

                                    </td>
                                    <td style="text-align:center">

                                        <a href="~/KeToan/CongnoDL/@item.MaDL" class="btn btn-outline-primary btn-sm notification" ata-toggle="tooltip" title="Danh sách đơn hàng">
                                            <i class="fa fa-edit"></i>
                                            @{
                                                if (tongdonhang > 0)
                                                {
                                                    <span class="badge">
                                                        @Html.DisplayFor(modelItem => tongdonhang)
                                                    </span>
                                                }
                                            }
                                        </a>
                                        <a href="~/KeToan/DSCongnoNo/@item.MaDL" class="btn btn-outline-primary btn-sm notification" ata-toggle="tooltip" title="Chi tiết công nợ">
                                            <i class="fa fa-receipt"></i>
                                            @{
                                                if (sophieu > 0)
                                                {
                                                    <span class="badge">
                                                        @Html.DisplayFor(modelItem => sophieu)
                                                    </span>
                                                }
                                            }
                                        </a>
                                    </td>
                                </tr>     }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    //In dữ liệu
    function printDiv(divName) {
      
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;


    }

    // tim kiem
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });

    // hien thi notification button
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>


