@model IEnumerable<Test02.Models.DonHang>

@{
    ViewBag.Title = "QLDonCho";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
}

<h2>QLDonCho</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNVLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhieuXuatKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XuatHoaDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangGH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNVLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuXuatKho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XuatHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangGH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
