@model IEnumerable<Test02.Models.HoaDon>
@using Test02.Models;
@{
    ViewBag.Title = "QLHoaDon";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.qlhd = "active";
    ViewBag.nd = "Danh sách hóa đơn";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ctdh = db.ChiTietDonHangs.ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">

                        <div class="col-md-1">
                            <div id="sampleTable_filter" class="dataTables_filter">
                                <label>Tìm kiếm:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Mã hóa đơn: activate to sort column ascending" style="width: 80px;">Mã hóa đơn</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Mã đại lý: activate to sort column ascending" style="width: 80px;">Mã đại lý</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tên đại lý: activate to sort column ascending" style="width: 140px;">Tên đại lý</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tổng tiền: activate to sort column ascending" style="width: 100px;">Tổng hóa đơn</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Mã đơn hàng: activate to sort column ascending" style="width: 100px;">Mã nhân viên</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Trạng thái: activate to sort column ascending" style="width: 150px;">Trạng thái</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Ngày lập: activate to sort column ascending" style="width: 100px;">Ngày lập</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Chức vụ: activate to sort column ascending" style="width: 120px;">Chức năng</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaHD)
                                            </td>

                                            <td>
                                                @{var madl = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();

                                                }
                                                @Html.DisplayFor(modelItem => madl.MaDL)
                                            </td>
                                            <td>
                                                @{var madh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();
                                                    var tendl = db.DaiLies.Where(s => s.MaDL == madh.MaDL).FirstOrDefault();
                                                }
                                                @Html.DisplayFor(modelItem => tendl.TenDL)
                                            </td>

                                            <td>
                                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.TongTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenDVTiepNhan)
                                            </td>
                                            <td>
                                                @{var dh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();

                                                }
                                                @Html.DisplayFor(modelItem => dh.TinhTrangThanhToan)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NgayLap)
                                            </td>

                                            <td>
                                                <a href="/KeToan/ChinhsuaHD/@item.MaDH" class="btn btn-primary btn-sm edit">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="/KeToan/XoaHD/@item.MaHD" class="btn btn-primary btn-sm trash">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                                <a href="/KeToan/XuatHDBH/@item.MaDH" class="btn btn-primary btn-sm edit">
                                                    <i class="fas fa-train"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <script type="text/javascript">
       $(document).ready(function () {
           $("#btnalermessage").click(function () {
                swal("a");
            });
        });*@
        @*function openSuccess(strmess) {
            var myDiv = document.getElementById("mymodalsuccessAlerbody");
            myDiv.innerHTML = strmess;
            $('MyModalSuccess').modal('show');
        }

        $(document).ready(function () {
            var msg = "@TempData["successmassage"]";
            if (msg)
                openSuccess(msg);

        }
        );*@



    @*</script>*@


