@model Test02.Models.DonHang

@{
    ViewBag.Title = "TaoCongno";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
          


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <p> <strong>Mã đại lý: </strong>@Html.DisplayFor(model => model.MaDL)</p>

                @*<p><strong>Mã đại lý:</strong> @Html.DisplayFor(model => model.MaDL)</p>*@

                @*@{
            var tendl = db.DaiLies.Where(s => s.MaDL == Model.MaDL).FirstOrDefault();
        }*@
                <p><strong>Tên đại lý:</strong> @Html.DisplayFor(model => model.MaDL)</p>


               

                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm phiếu" class="btn btn-default" />
                    </div>
                </div>
            </div>
                }

                <div>
                    @Html.ActionLink("Quay lại danh sách công nợ", "QLCongno")
                </div>
        
        </div>
    </div>
</div>