@model Test02.Models.DonHang
@using Test02.Models;
@{
    ViewBag.Title = "TaoHD";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.qldonhangkt = "active";
    ViewBag.nd = "Tạo hóa đơn";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();

}

<div class="row">
    
    <div class="col-md-12">
        <div class="tile" style="padding:30dp">
            <h3 style="text-align:center">TẠO HÓA ĐƠN</h3>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <p> <strong>Mã đơn hàng: </strong>@Html.DisplayFor(model => model.MaDH)</p>

                    <p><strong>Mã đại lý:</strong> @Html.DisplayFor(model => model.MaDL)</p>

                    @{
                        var tendl = db.DaiLies.Where(s => s.MaDL == Model.MaDL).FirstOrDefault();
                    }
                    <p><strong>Tên đại lý:</strong> @tendl.TenDL</p>
                    <p><strong>Ngày lập đơn hàng: </strong> @Html.DisplayFor(model => model.NgayLap)</p>

                    @{ var tongien = string.Format("{0:0,0 vnđ}", Model.TongTien);}
                    <p> <strong>Thành tiền: </strong>@Html.DisplayFor(model => tongien)</p>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm hóa đơn" class="btn btn-default" />
                        </div>

                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Quay lại danh sách hóa đơn", "QLyDonHangKeToan")
            </div>

        </div>
    </div>
</div>

