@model Test02.Models.DonHang
@using Test02.Models;
@{
    ViewBag.Title = "XuatHDBH";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.qlhd = "active";
    ViewBag.nd = "Xuất hóa đơn";
    QuanLyDLproEntities2 db = new QuanLyDLproEntities2();
    List<ChiTietDonHang> ct = db.ChiTietDonHangs.ToList();
}
@{
    var checkmess = (string)TempData["edithd"];
    if (checkmess == "oke")
    {
        <script>
            swal({
                title: "Đã cập nhật đơn hàng thành công",
                icon: "success",
                button: "OK",
            });
        </script>
    }


}
<link href="~/Content/KeToan/StyleKeToan.css" rel="stylesheet" />

<div class="container-sm">
    <div class="row">
        <div class="col-md-12">
            <div class="tile" id="printMe">

                @{
                    DateTime ngay = (DateTime)(Model.NgayLap);
                    int thang = ngay.Month;

                    var daily = db.DaiLies.Where(s => s.MaDL == Model.MaDL).FirstOrDefault();
                    var loaidaily = db.LoaiDLs.Where(s => s.MaLoaiDL == daily.MaLoaiDL).FirstOrDefault();
                }

                <div style="padding:20px">
                    <div style="text-align:center">
                        <h4>HÓA ĐƠN ĐƠN HÀNG</h4>
                        <p> <strong>Ngày: </strong>@Html.DisplayFor(model => ngay)</p>
                        <p> <strong>Mã đơn hàng: </strong>@Html.DisplayFor(model => model.MaDH)</p>
                    </div>


                    <p> <strong>Tên đại lý: </strong>@Html.DisplayFor(model => daily.TenDL)</p>
                    <p> <strong>Loại đại lý: </strong>@Html.DisplayFor(model => loaidaily.MaLoaiDL)</p>
                    <p> <strong>Địa chỉ: </strong>@Html.DisplayFor(model => daily.DiaChi)</p>
                    <div class="row">
                        <div class="col-sm-12  table-responsive" >
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row" style="text-align:center">
                                        <th>Mã CTDH</th>
                                        <th>Mã SP</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var total = 0;
                                        List<ChiTietDonHang> chiTietDonHangs = db.ChiTietDonHangs.Where(s => s.MaDH == Model.MaDH).ToList();

                                    }
                                    @foreach (var item in chiTietDonHangs)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaCTDH)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaSP)
                                            </td>
                                            @{
                                                var sanpham = db.SanPhams.Where(sp => sp.MaSP == item.MaSP).FirstOrDefault();
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => sanpham.TenSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>


                                            <td>
                                                @{ total += Convert.ToInt32(item.ThanhTien);}
                                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.ThanhTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)

                                            </td>

                                        </tr>

                                    }
                                    <tr>
                                        <th colspan="4">Tổng tiền</th>
                                        @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                        <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                    </tr>

                                    <tr>
                                        <th colspan="4">Chiết khấu</th>
                                        @{ var ck = loaidaily.ChietKhau * 100;}
                                        <td>@Html.DisplayFor(modelItem => ck)%</td>
                                    </tr>

                                    <tr>
                                        <th colspan="4">Tổng hóa đơn</th>
                                        @{ var tongsale = total * (1 - loaidaily.ChietKhau);
                                            var tongcuoicung = string.Format("{0:0,0 vnđ}", tongsale);}
                                        <td>@Html.DisplayFor(modelItem => tongcuoicung)</td>
                                    </tr>
</table>

                        </div>

                        <h5 style="margin-left:82%;padding-top:20px;" id="sample1">Kế toán</h5>
                        <h6 style="margin-left:80%; font-style:italic;" id="sample1">(ký và ghi rõ họ tên)</h6>
                        <br />
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left:10px" id="btnin">
        <div class="col-sm-2">
            <a class="btn btn-warning btn-sm " data-toggle="modal" data-target="#myModal">
                Cập thông tin đơn hàng
            </a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-delete btn-sm " title="In" onclick="printDiv('printMe')">
                <i class="fas fa-print"></i> In dữ liệu
            </a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonHang">Quay lại</a>
            @*@if (Model.TinhTrangGH == null)
            {
                <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonHang">Quay lại</a>
            }
            else if (Model.TinhTrangGH == "Đã giao")
            {
                <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonDaGiao">Quay lại</a>
            }
            else if (Model.TinhTrangGH == "Chờ giao")
            {
                <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonChoGiao">Quay lại</a>
            }*@

        </div>

    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ChinhsuaHD", "KeToan", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.MaDH)
                @Html.HiddenFor(model => model.MaDL)
                @Html.HiddenFor(model => model.MaNVLap)
                @Html.HiddenFor(model => model.NgayLap)
                @Html.HiddenFor(model => model.TrangThai)
                @Html.HiddenFor(model => model.DiemGiao)
                @Html.HiddenFor(model => model.TongTien)
                @Html.HiddenFor(model => model.PhieuXuatKho)
                @Html.HiddenFor(model => model.TinhTrangGH)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!-- Modal body -->
                <div class="modal-body">
                    <p class="modal-name">CẬP NHẬT ĐƠN HÀNG @Model.MaDH</p>
                    <div class="confirmation-dh border" style="padding:20px 20px; margin:0 10px;">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <strong>Tình trạng thanh toán</strong>
                                <div class="col-md-10">
                                    <select class="form-control" id="TinhTrangThanhToan" name="TinhTrangThanhToan">
                                        <option selected="@Model.TinhTrangThanhToan">@Model.TinhTrangThanhToan</option>
                                        <option>Đã thanh toán</option>
                                        <option>Chưa thanh toán</option>
                                        <option>Đang nợ</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.TinhTrangThanhToan, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <strong>Xác nhận xuất phiếu</strong>
                                <div class="col-md-10">
                                    <select class="form-control" id="XuatHoaDon" name="XuatHoaDon">
                                        <option selected="@Model.XuatHoaDon">@Model.XuatHoaDon</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>

                                    </select>
                                    @Html.ValidationMessageFor(model => model.XuatHoaDon, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <!-- Modal footer -->
                <div class="modal-footer" style="padding-top:10px;">
                    <a class="btn btn-danger" data-dismiss="modal">Close</a>
                    @*<a class="btn btn-success" href="/KeToan/TaoCongno/@daily.MaDL">Xuất công nợ</a>*@
                    <input type="submit" value="Cập nhật
                           " class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    function printDiv(divName) {


        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.getElementById("btnin").style.display = "none";


        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>


