@model IEnumerable<Test02.Models.ChiTietDonHang>

@using Test02.Models;
@{
    ViewBag.Title = "XuatHDBH";
    Layout = "~/Views/KeToan/Layout/_LayoutPageKeToan.cshtml";
    ViewBag.qlhd = "active";
    ViewBag.nd = "Xuất hóa đơn";
    QuanLyDLEntities2 db = new QuanLyDLEntities2();
    List<ChiTietDonHang> ct = db.ChiTietDonHangs.ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body" id="hd">

                <h3 style="text-align:center" >HÓA ĐƠN BÁN HÀNG</h3>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    @foreach (var item in Model)
                    {

                        <div>
                            <p> <strong>Mã đơn hàng:</strong>@Html.DisplayFor(modelItem => item.MaDH)</p>
                            <p>
                                <strong>Ngày đặt:</strong>
                                @{
                                    var dh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();
                                }
                                @Html.DisplayFor(modelItem => dh.NgayLap)
                            </p>

                        </div>
                       
                        <table>
                            <tr>
                                <th>THÔNG TIN</th>
                                <th>ĐỊA CHỈ GIAO</th>
                            </tr>
                            <tr>
                                <td>
                                    Tên đại lý:
                                    @{
                                        var dl = db.DaiLies.Where(s => s.MaDL == dh.MaDL).FirstOrDefault();
                                    }@Html.DisplayFor(modelItem => dl.TenDL)
                                </td>
                                <td rowspan="2">
                                    @Html.DisplayFor(modelItem => dh.DiemGiao)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Điện thoại: @Html.DisplayFor(modelItem => dl.SDT)
                                </td>

                            </tr>
                        </table>

                        break;

                    }



                    <div class="row" style="padding-top:10px">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                @*//Phần render từng dòng trong C#*@
                                <thead>
                                    <tr role="row" style="text-align:center">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Mã sản phẩm: activate to sort column ascending" style="width: 100px;">Mã sản phẩm</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Tên sản phẩm: activate to sort column ascending" style="width: 100px;">Tên sản phẩm</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Số lượng: activate to sort column ascending" style="width: 100px;">Số lượng</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Đơn vị tính: activate to sort column ascending" style="width: 100px;">Đơn vị tính</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Đơn giá: activate to sort column ascending" style="width: 100px;">Đơn giá</th>
                                        <th width="100" class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Thành tiền: activate to sort column ascending" style="width: 120px;">Thành tiền</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var total = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaSP)
                                            </td>
                                            <td>
                                                @{ var tensp = db.SanPhams.Where(s => s.MaSP == item.MaSP).FirstOrDefault();}
                                                @Html.DisplayFor(modelItem => tensp.TenSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => tensp.DonViTinh)
                                            </td>
                                            <td>
                                                @{ var chuyendoi = string.Format("{0:0,0 vnđ}", tensp.Gia);}
                                                @Html.DisplayFor(modelItem => chuyendoi)
                                            </td>

                                            <td>
                                                @{ total += Convert.ToInt32(item.ThanhTien);}
                                                @{ var ThanhTien = string.Format("{0:0,0 vnđ}", item.ThanhTien);}
                                                @Html.DisplayFor(modelItem => ThanhTien)

                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <th colspan="5">Tổng cộng hóa đơn:</th>
                                        @{ var TongCong = string.Format("{0:0,0 vnđ}", total);}
                                        <td>@Html.DisplayFor(modelItem => TongCong)</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row element-button" style="padding-left:10px">
    <div class="col-sm-2">
        <a class="btn btn-delete btn-sm print-file" title="In" onclick="myApp.printTable()">
            <i class="fas fa-print"></i> In dữ liệu
        </a>
    </div>
    <div class="col-sm-2">
        @foreach (var item in Model)
        {
            var dh = db.DonHangs.Where(s => s.MaDH == item.MaDH).FirstOrDefault();
            if (dh.TinhTrangThanhToan == "Chưa thanh toán")
            {
                <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonHang">Quay lại</a>
            }
            else if (dh.TinhTrangThanhToan == "Đang nợ")
            {
                <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonNo">Quay lại</a>
            }
            else
            {
                <a class="btn btn-danger btn-sm" type="button" title="Quay lại " href="~/KeToan/QLDonThanhToan">Quay lại</a>
            }

        }

    </div>

</div>

<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('hd');

                var win = window.open('', '', 'height=800px,width=1200px');
                win.document.write(tab.outerHTML);
          
            win.document.close();
            win.print();
        }
        }
</script>

