@model Test02.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.MaLoaiDL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.MaLoaiDL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.MaChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.MaChucVu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
