@model IEnumerable<Test02.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaiLy.MaLoaiDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.MaChucVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaiLy.MaLoaiDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.MaChucVu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDH })
        </td>
    </tr>
}

</table>
