@model Test02.Models.NhanVien
@using Test02.Models
@{
    ViewBag.Title = "Thêm account";
    Layout = "~/Views/QTV/Layout/LayoutQTV.cshtml";
    QuanLyDLproEntities2 database = new QuanLyDLproEntities2();
    ViewBag.qtnv = "active";
    ViewBag.nd = "Thêm mới account nhân viên";
}

<div class="tile" style="margin:10px 20px;">
    <h3 class="tile-title">THÊM TÀI KHOẢN NHÂN VIÊN </h3>
    <div class="tile-body contenner" style="padding-top:10px">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaNV)
        <form class="row" method="post" enctype="multipart/form-data" action="/QTV/ThemNV">
            <div class="imgstaff col-sm-5">
                <div class="col-sm-12" style="text-align: center;">
                    <label class="control-label">Chọn hình ảnh</label>
                    @Html.TextBox("HinhAnh", "", new { type = "file" })
                    <br />
                    <br />
                    <br />
                    <img id="preview" class="rounded-circle " src="#" width="230" height="230" style="object-fit:cover; object-position:center; text-align: center;" />
                    <br />
                </div>
               
            </div>
            <div class="info-staff col-sm-6">
                <h5>THÔNG TIN CÁ NHÂN</h5>
                <div class="row">
                    <div class="form-group col-md-12">
                        <strong>Tên nhân viên</strong>
                        @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-12">
                        <strong>Địa chỉ</strong>
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @*@Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="form-group col-md-6">
                        <strong>Địa chỉ</strong>
                        <select class="form-control" id="GioiTinh" name="GioiTinh">
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger", required = "required" })
                    </div>

                    <div class="form-group col-md-6">
                        <strong>Ngày sinh</strong>
                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control col-md-12 text-box single-line datepicker", required = "required", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        <strong>Số điện thoại</strong>
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", required = "required", @id = "Sdt", onchange = " SDTCheck()" } })
                        @*@Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })*@
                        <span id="noti"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <strong>Email</strong>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", @id = "Email", onchange = "EmailCheck()" } })
                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                        <span id="mess"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <strong>Chức vụ</strong>
                        @Html.DropDownList("MaChucVu", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaChucVu, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <strong>Username</strong>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required", @id = "Username", onchange = "UserCheck()" } })
                        @*<input class="form-control" type="text" id="Username" name="Username" required="required"/>*@
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        <span id="status"></span>

                    </div>
                    <div class="form-group col-md-6">
                        <strong>Password</strong>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", required = "required", @id = "pass1", } })
                        @*<input class="form-control" type="text" id="Username" name="Username" required="required"/>*@
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group col-md-6">
                        <strong>Xác nhân password</strong>
                        <input class="form-control" type="text" id="pass2" name="typepassword" required="required" onchange="PassCheck()"  type = "password" />
                        <span id="checkpass"></span>



                    </div>
                </div>
            </div>
            <div class="col-sm-5">

                <p> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>

            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="submit" value="Save Account" id="btn-submit" class="btn btn-success btn-sm" />
                    </div>
                    <div class="col-sm-">
                        <a href="/Admin/QLNhanvien" class="btn btn-warning btn-sm">Quay lại danh sách</a>
                    </div>

                </div>
            </div>
        </form>
    </div>



</div>


@* script của upload *@

<script>
    HinhAnh.onchange = evt => {
        const [file] = HinhAnh.files
        if (file) {
            preview.src = URL.createObjectURL(file);
            $("#preview").removeClass("hidden");
        }
    }
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="Scripts/jquery-1.4.1.js" type="text/javascript"></script>
<script type="text/javascript">
     function UserCheck() {
        $("#status").html("check ...");
        $.post("@Url.Action("CheckUsernameAvailability", "QTV")",
            {
                userdata: $("#Username").val()
            },
            function (data) {
                if (data == 0) {
                    $("#status").html('<font color="Green">Hợp lệ!</font>');
                    $("#Username").css("border-color", "Green");
                    document.getElementById('btn-submit').disabled = false;
                }
                else {
                    $("#status").html('<font color="Red">Đã có username !!</font>');
                    $("#Username").css("border-color", "Red");
                    document.getElementById('btn-submit').disabled = true;
                }
            }
        )
    }

     function EmailCheck() {
        $("#mess").html("check ...");
        $.post("@Url.Action("CheckEmailAvailability", "QTV")",
            {
                usermail: $("#Email").val()
            },
            function (data) {
                if (data == 0) {
                    $("#mess").html('<font color="Green">Hợp lệ!</font>');
                    $("#Email").css("border-color", "Green");
                    document.getElementById('btn-submit').disabled = false;
                }
                else {
                    $("#mess").html('<font color="Red">Đã có nhân viên sử dụng !!</font>');
                    $("#Email").css("border-color", "Red");
                    document.getElementById('btn-submit').disabled = true;
                }
            }
        )
    }
    function SDTCheck() {
        $("#noti").html("check ...");
        $.post("@Url.Action("CheckSDTAvailability", "QTV")",
            {
                userSDT: $("#Sdt").val()
            },
            function (data) {
                if (data == 0) {
                    $("#noti").html('<font color="Green">Hợp lệ!</font>');
                    $("#Sdt").css("border-color", "Green");
                    document.getElementById('btn-submit').disabled = false;
                }
                else {
                    $("#noti").html('<font color="Red">Đã có nhân viên sử dụng !!</font>');
                    $("#Sdt").css("border-color", "Red");
                    document.getElementById('btn-submit').disabled = true;
                }
            }
        )
    }

     function PassCheck() {
        $("#checkpass").html("check ...");
        $.post("@Url.Action("KtraPass", "QTV")",
            {
                pass1: $("#pass1").val(),
                pass2: $("#pass2").val()
            },
            function (data) {
                if (data == 0) {
                    $("#checkpass").html('<font color="Green">Hợp lệ!</font>');
                    $("#typepassword").css("border-color", "Green");
                    document.getElementById('btn-submit').disabled = false;
                }
                else {
                    $("#checkpass").html('<font color="Red">Không trùng password !!</font>');
                    $("#typepassword").css("border-color", "Red");
                    document.getElementById('btn-submit').disabled = true;
                }
            }
        )
    }

</script>