@model Test02.Models.ChiTietDonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChietKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonHang.MaDL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHang.MaDL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
