@model IEnumerable<Test02.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/KinhDoanh/Layout/LayoutKD.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChietKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonHang.MaDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChietKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonHang.MaDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTDH })
        </td>
    </tr>
}

</table>
